{
  "openapi": "3.0.3",
  "info": {
    "title": "NH투자증권 Open API — 해외주식 (Global Stock)",
    "version": "v1",
    "description": "NH투자증권 Open API 중 **해외주식 (Global Stock)** 자산군의 REST 및 실시간(WebSocket) API 문서입니다. (기준: API명세서 260721 / 나무 환경 · 필드명은 명세서 C열 기준)\n\n- REST: POST + JSON, 요청 Input_0 / 응답 Output_0(배열) + message.\n- 실시간: WebSocket, 푸시=JSON. x-realtime-channels.protocol 참조.\n- 인증: POST /oauth2/token → REST 는 Authorization/x-client-id/x-client-secret, WS 는 header.token.\n- 환경 제공: 이 자산군 API 는 **모의투자·운영 모두 제공**. (접근토큰발급만 공통에서 운영 전용)"
  },
  "servers": [
    {
      "url": "https://api.nhplug.com:8443",
      "description": "🔴 운영 (Live) — 실제 주문 체결 [기본]"
    },
    {
      "url": "https://moapi.nhplug.com:8443",
      "description": "🟢 모의투자 (Mock) — 교육이수·개발·검증"
    }
  ],
  "security": [
    {
      "BearerAuth": [],
      "ClientId": [],
      "ClientSecret": []
    }
  ],
  "x-environments": {
    "portal": "https://www.nhplug.com",
    "note": "기본 환경은 **운영(live)** 입니다. 운영은 주문이 실제로 체결됩니다. 테스트·검증은 모의투자(mock)를 사용하세요. 나무(Namuh) 기준(N2 추후).",
    "mock": {
      "desc": "모의투자 — 교육이수·개발검증",
      "rest": "https://moapi.nhplug.com:8443",
      "websocket": "wss://moapi.nhplug.com:17070"
    },
    "live": {
      "desc": "운영 — 실제 주문 체결",
      "rest": "https://api.nhplug.com:8443",
      "websocket": "wss://api.nhplug.com:7080"
    }
  },
  "tags": [
    {
      "name": "주문 (Order)"
    },
    {
      "name": "조회 (Inquiry)"
    },
    {
      "name": "시세 (Market Data)"
    },
    {
      "name": "실시간 (Realtime)"
    }
  ],
  "paths": {
    "/gbstock/order/v1/buy": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "gbstockOrderBuy",
        "summary": "해외주식 주문매수",
        "description": "원본 시트: API_해외_주식_주문_매수",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11 / 계좌번호 입력"
                      },
                      "fc_sec_trd_nat_cd": {
                        "type": "string",
                        "description": "외화증권거래국가코드 / 길이 3 / 200.미국 070.일본 120.홍콩 160.상해 170.심천"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "티커종목코드 / 길이 12 / 예시> 미국주식 APPLE인 경우, AAPL"
                      },
                      "orr_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문수량 / 길이 18 / 주문수량"
                      },
                      "fc_orr_uit_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "외화주문단가 / 길이 15.6 / 주문단가 - 소수점 2자리까지(향후변경예정) \"현물호가유형코드\" 00,11,12,61,62,63 시 필수"
                      },
                      "ahi_nmn_pr_tp_cd": {
                        "type": "string",
                        "description": "현물호가유형코드 / 길이 2 / 00.지정가 03.시장가 61.프리마켓(지정가) 62.애프터마켓(지정가) 63.주간거래(지정가) 11.LOO(장개시 지정가) 12.LOC(장마감 지정가) 13.MOO(장개시 시장가) 14.MOC(장마감 시장가) TW.TWAP(시장가) VW.VWAP(시장가) TL.TWAP(지정가) VL.VWAP(지정가)"
                      },
                      "wtm_cur_knd_cd": {
                        "type": "string",
                        "description": "증거금통화종류코드 / 길이 1 / 1.해당통화 2.원화"
                      }
                    },
                    "required": [
                      "act_no",
                      "fc_sec_trd_nat_cd",
                      "iem_cd",
                      "orr_qty",
                      "ahi_nmn_pr_tp_cd",
                      "wtm_cur_knd_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amn_tab_cd": {
                            "type": "string",
                            "description": "관리팀점코드 / 길이 4"
                          },
                          "orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문번호 / 길이 10"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/gbstock/order/v1/sell": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "gbstockOrderSell",
        "summary": "해외주식 주문매수",
        "description": "원본 시트: API_해외_주식_주문_매도",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11 / 계좌번호 입력"
                      },
                      "fc_sec_trd_nat_cd": {
                        "type": "string",
                        "description": "외화증권거래국가코드 / 길이 3 / 200.미국 070.일본 120.홍콩 160.상해 170.심천"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "티커종목코드 / 길이 12 / 예시> 미국주식 APPLE인 경우, AAPL"
                      },
                      "orr_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문수량 / 길이 18 / 주문수량"
                      },
                      "fc_orr_uit_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "외화주문단가 / 길이 15.6 / 주문단가 - 소수점 2자리까지(향후변경예정) \"현물호가유형코드\" 00,11,12,16,61,62,63 시 필수"
                      },
                      "ahi_nmn_pr_tp_cd": {
                        "type": "string",
                        "description": "현물호가유형코드 / 길이 2 / 00.지정가 03.시장가 61.프리마켓(지정가) 62.애프터마켓(지정가) 63.주간거래(지정가) 11.LOO(장개시 지정가) 12.LOC(장마감 지정가) 13.MOO(장개시 시장가) 14.MOC(장마감 시장가) 15.STOP(시장가) 16.STOP LIMIT(지정가) TW.TWAP(시장가) VW.VWAP(시장가) TL.TWAP(지정가) VL.VWAP(지정가)"
                      }
                    },
                    "required": [
                      "act_no",
                      "fc_sec_trd_nat_cd",
                      "iem_cd",
                      "orr_qty",
                      "ahi_nmn_pr_tp_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amn_tab_cd": {
                            "type": "string",
                            "description": "관리팀점코드 / 길이 4"
                          },
                          "orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문번호 / 길이 10"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/gbstock/order/v1/modify": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "gbstockOrderModify",
        "summary": "해외주식 정정취소주문정정",
        "description": "원본 시트: API_해외_주식_주문_정정",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11 / 계좌번호"
                      },
                      "fc_sec_trd_nat_cd": {
                        "type": "string",
                        "description": "외화증권거래국가코드 / 길이 3 / 200.미국 070.일본 120.홍콩 160.상해 170.심천"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "티커종목코드 / 길이 12 / 예시> 미국주식 APPLE인 경우, AAPL"
                      },
                      "org_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "원주문번호 / 길이 10 / 정정대상 주문번호"
                      },
                      "fc_orr_uit_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "외화주문단가 / 길이 15.6 / 주문단가 - 소수점 2자리까지(향후변경예정)"
                      },
                      "fc_stop_orr_bse_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "외화STOP주문기준가격 / 길이 15.6 / 호가유형이 15.STOP, 16.STOP LIMIT 일 때 필수 그 외 미입력"
                      }
                    },
                    "required": [
                      "act_no",
                      "fc_sec_trd_nat_cd",
                      "iem_cd",
                      "org_orr_no",
                      "fc_orr_uit_pr"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amn_tab_cd": {
                            "type": "string",
                            "description": "관리팀점코드 / 길이 4"
                          },
                          "orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문번호 / 길이 10"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/gbstock/order/v1/cancel": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "gbstockOrderCancel",
        "summary": "해외주식 정정취소주문정정",
        "description": "원본 시트: API_해외_주식_주문_취소",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11 / 계좌번호"
                      },
                      "org_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "원주문번호 / 길이 10 / 취소대상 주문번호"
                      },
                      "fc_sec_trd_nat_cd": {
                        "type": "string",
                        "description": "외화증권거래국가코드 / 길이 3 / 200.미국 070.일본 120.홍콩 160.상해 170.심천"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "티커종목코드 / 길이 12 / 예시> 미국주식 APPLE인 경우, AAPL"
                      },
                      "can_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "취소수량 / 길이 18 / 취소수량"
                      },
                      "all_pat_dit_cd": {
                        "type": "string",
                        "description": "전체일부구분코드 / 길이 1 / 1:전체, 2:일부"
                      }
                    },
                    "required": [
                      "act_no",
                      "org_orr_no",
                      "fc_sec_trd_nat_cd",
                      "iem_cd",
                      "all_pat_dit_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amn_tab_cd": {
                            "type": "string",
                            "description": "관리팀점코드 / 길이 4"
                          },
                          "orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문번호 / 길이 10"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/gbstock/order/v1/reservedSubmit": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "gbstockOrderReservedSubmit",
        "summary": "해외주식 예약주문접수",
        "description": "원본 시트: API_해외_주식_주문_예약",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "act_no / 길이 11"
                      },
                      "fc_sec_trd_nat_cd": {
                        "type": "string",
                        "description": "fc_sec_trd_nat_cd / 길이 3 / 200.미국 070.일본 120.홍콩 160.상해 170.심천"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "tck_iem_cd / 길이 12 / 예시> 미국주식 APPLE인 경우, AAPL"
                      },
                      "oss_sby_dit_cd": {
                        "type": "string",
                        "description": "oss_sby_dit_cd / 길이 1 / 1.매도 2.매수"
                      },
                      "orr_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "orr_qty / 길이 18"
                      },
                      "fc_orr_uit_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "fc_orr_uit_pr / 길이 15.6"
                      },
                      "nmn_pr_tp_cd": {
                        "type": "string",
                        "description": "nmn_pr_tp_cd / 길이 2 / 00.지정가 03.시장가 61.프리마켓(지정가) 11.LOO(장개시 지정가) 12.LOC(장마감 지정가) 13.MOO(장개시 시장가) 14.MOC(장마감 시장가) 15.STOP(시장가) 16.STOP LIMIT(지정가) TW.TWAP(시장가) VW.VWAP(시장가) TL.TWAP(지정가) VL.VWAP(지정가)"
                      },
                      "oss_orr_knd_cd": {
                        "type": "string",
                        "description": "oss_orr_knd_cd / 길이 1 / 1.GTS주문(해외투자전략코드가 0 또는 미국시장주문) 2.기타자동주문"
                      },
                      "ose_ivs_sgy_cd": {
                        "type": "string",
                        "description": "ose_ivs_sgy_cd / 길이 1 / 0.일반 1.VWAP(미국만 가능) 2.TWAP(미국만 가능)"
                      },
                      "bkg_orr_tp_cd": {
                        "type": "string",
                        "description": "bkg_orr_tp_cd / 길이 1 / 1.일반예약 2.잔량주문 3.지정수량주문"
                      },
                      "bkg_orr_sta_dt": {
                        "type": "string",
                        "description": "bkg_orr_sta_dt / 길이 8 / YYYYMMDD"
                      },
                      "bkg_orr_end_dt": {
                        "type": "string",
                        "description": "bkg_orr_end_dt / 길이 8 / YYYYMMDD"
                      },
                      "wtm_cur_knd_cd": {
                        "type": "string",
                        "description": "wtm_cur_knd_cd / 길이 1 / 1.거래국가통화 2.원화"
                      },
                      "fc_stop_orr_bse_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "fc_stop_orr_bse_pr / 길이 15.6 / 호가유형코드 15.STOP(시장가), 16.STOP LIMIT(지정가) 의 경우에만 입력"
                      },
                      "orr_pdt_dit_cd": {
                        "type": "string",
                        "description": "orr_pdt_dit_cd / 길이 2 / 00.해당없음 02.교체예약주문 03.미국Stop예약주문"
                      },
                      "lon_dt": {
                        "type": "string",
                        "description": "lon_dt / 길이 8 / YYYYMMDD"
                      },
                      "cfd_lon_cd": {
                        "type": "string",
                        "description": "cfd_lon_cd / 길이 2 / 00.현금 19.해외주식담보대출"
                      }
                    },
                    "required": [
                      "act_no",
                      "fc_sec_trd_nat_cd",
                      "iem_cd",
                      "oss_sby_dit_cd",
                      "orr_qty",
                      "nmn_pr_tp_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bkg_rtn_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예약접수주문번호 / 길이 10"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/gbstock/order/v1/reservedCancel": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "gbstockOrderReservedCancel",
        "summary": "해외주식 예약주문접수취소",
        "description": "원본 시트: API_해외_주식_주문_예약취소",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "fc_mkt_dit_cd": {
                        "type": "string",
                        "description": "외화시장구분코드 / 길이 3 / 200.미국 070.일본 120.홍콩 160.상해 170.심천"
                      },
                      "bkg_orr_dt": {
                        "type": "string",
                        "description": "예약주문일자 / 길이 8"
                      },
                      "bkg_rtn_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "예약접수주문번호 / 길이 10"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "티커종목코드 / 길이 12 / 예시> 미국주식 APPLE인 경우, AAPL"
                      },
                      "orr_pdt_dit_cd": {
                        "type": "string",
                        "description": "주문상품구분코드 / 길이 2 / 00.해당없음 02.교체예약주문 03.미국Stop예약주문"
                      }
                    },
                    "required": [
                      "act_no",
                      "fc_mkt_dit_cd",
                      "bkg_orr_dt",
                      "bkg_rtn_orr_no"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "wrk_rlt_cd": {
                            "type": "string",
                            "description": "작업결과코드 / 길이 5"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/gbstock/inquiry/v1/buyableAmount": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "gbstockInquiryBuyableAmount",
        "summary": "해외주식 매수가능금액조회",
        "description": "원본 시트: API_해외_주식_조회_매수가능금액",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "pcs_dit": {
                        "type": "string",
                        "description": "처리구분 / 길이 1 / 1.매수가능금액조회 2.매수가능수량조회 3.매도가능수량조회 4.예약매수금액/수량 5.예약매도수량"
                      },
                      "fc_sec_trd_nat_cd": {
                        "type": "string",
                        "description": "외화증권거래국가코드 / 길이 3 / 200.미국 070.일본 120.홍콩 160.상해 170.심천"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> 미국주식 APPLE인 경우, AAPL"
                      },
                      "fc_orr_uit_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "외화주문단가 / 길이 15.6"
                      },
                      "wtm_cur_knd_cd": {
                        "type": "string",
                        "description": "증거금통화종류코드 / 길이 1 / 1.거래국가통화 2.원화 3.기타통화 4.거래국가통화(통합금거금가능금미포함)"
                      },
                      "oss_orr_knd_cd": {
                        "type": "string",
                        "description": "해외증권주문종류코드 / 길이 1 / 1.GTS(미국시장주문) 2.기타자동 3.기타수동"
                      },
                      "ahi_nmn_pr_tp_cd": {
                        "type": "string",
                        "description": "현물호가유형코드 / 길이 2 / 00.지정가 03.시장가 61.프리마켓(지정가) 62.애프터마켓(지정가) 63.주간거래(지정가) 11.LOO(장개시 지정가) 12.LOC(장마감 지정가) 13.MOO(장개시 시장가) 14.MOC(장마감 시장가) 15.STOP(시장가) 16.STOP LIMIT(지정가) TW.TWAP(시장가) VW.VWAP(시장가) TL.TWAP(지정가) VL.VWAP(지정가)"
                      },
                      "cfd_lon_cd": {
                        "type": "string",
                        "description": "신용대출코드 / 길이 2 / 00.현금 19.해외주식담보대출"
                      },
                      "lon_dt": {
                        "type": "string",
                        "description": "대출일자 / 길이 8 / YYYYMMDD"
                      }
                    },
                    "required": [
                      "act_no",
                      "pcs_dit",
                      "fc_sec_trd_nat_cd",
                      "iem_cd",
                      "wtm_cur_knd_cd",
                      "oss_orr_knd_cd",
                      "ahi_nmn_pr_tp_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fc_dca": {
                            "type": "number",
                            "format": "double",
                            "description": "외화예수금 / 길이 15.3"
                          },
                          "mgg_fc_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "담보외화금액 / 길이 15.3"
                          },
                          "csh_wtm": {
                            "type": "number",
                            "format": "double",
                            "description": "현금증거금 / 길이 15.3"
                          },
                          "re_use_obj_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "재사용대상금액 / 길이 15.3"
                          },
                          "re_use_rtr_use_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "재사용환원사용금액 / 길이 15.3"
                          },
                          "ect_use_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "기타사용금액 / 길이 15.3"
                          },
                          "orr_pbl_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "주문가능금액 / 길이 15.3"
                          },
                          "wtm_cur_cd": {
                            "type": "string",
                            "description": "증거금통화코드 / 길이 3"
                          },
                          "hld_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "보유수량 / 길이 18"
                          },
                          "orr_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능수량 / 길이 10"
                          },
                          "sll_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도가능수량 / 길이 18"
                          },
                          "sll_pbl_qty1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도가능수량1 / 길이 18"
                          },
                          "byn_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수체결수량 / 길이 18"
                          },
                          "sll_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도체결수량 / 길이 18"
                          },
                          "sll_orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도주문수량 / 길이 18"
                          },
                          "dps_rsc_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "처분제한수량 / 길이 18"
                          },
                          "byn_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수가능수량 / 길이 18"
                          },
                          "max_pbl_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "최대가능금액 / 길이 15.3"
                          },
                          "max_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "최대가능수량 / 길이 18"
                          },
                          "csh_wtm_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "현금증거금율 / 길이 8.5"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/gbstock/inquiry/v1/unexecuted": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "gbstockInquiryUnexecuted",
        "summary": "해외주식 주문체결내역",
        "description": "주문별 체결수량·체결가격·미체결주문수량을 포함한 **주문·체결 내역 조회** 입니다. URI 의 `unexecuted` 는 서버 경로일 뿐이며, 실제로는 체결·미체결 내역을 모두 반환합니다. (주문 접수 API 아님, 조회 전용)\n\n원본 시트: API_해외_주식_주문_체결",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "orr_dt": {
                        "type": "string",
                        "description": "주문일자 / 길이 8"
                      },
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "티커종목코드 / 길이 12 / 예시> 미국주식 APPLE인 경우, AAPL"
                      },
                      "oss_sby_dit_cd": {
                        "type": "string",
                        "description": "해외증권매매구분코드 / 길이 1 / 0.전체 1.매도 2.매수"
                      },
                      "sot_dit": {
                        "type": "string",
                        "description": "정렬구분 / 길이 1 / 0.주문번호순 1.주문번호역순"
                      },
                      "orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문번호 / 길이 10"
                      },
                      "ost_cns_dit": {
                        "type": "string",
                        "description": "체결구분 / 길이 1 / 0.전체 1.체결 2.미체결"
                      }
                    },
                    "required": [
                      "orr_dt",
                      "act_no",
                      "oss_sby_dit_cd",
                      "sot_dit",
                      "ost_cns_dit"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rgs_tm": {
                            "type": "string",
                            "description": "등록시각 / 길이 8"
                          },
                          "oss_orr_knd_cd": {
                            "type": "string",
                            "description": "해외증권주문종류코드 / 길이 1"
                          },
                          "orr_knd_nm": {
                            "type": "string",
                            "description": "주문종류명 / 길이 10"
                          },
                          "orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문번호 / 길이 10"
                          },
                          "org_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "원주문번호 / 길이 10"
                          },
                          "oss_sby_dit_cd": {
                            "type": "string",
                            "description": "해외증권매매구분코드 / 길이 1"
                          },
                          "sby_dit_nm": {
                            "type": "string",
                            "description": "매매구분명 / 길이 4"
                          },
                          "fc_sec_trd_nat_cd": {
                            "type": "string",
                            "description": "외화증권거래국가코드 / 길이 3"
                          },
                          "mkt_dit_cd_nm": {
                            "type": "string",
                            "description": "시장구분코드명 / 길이 50"
                          },
                          "iem_cd": {
                            "type": "string",
                            "description": "종목코드 / 길이 12"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 60"
                          },
                          "orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문수량 / 길이 18"
                          },
                          "fc_orr_uit_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "외화주문단가 / 길이 15.6"
                          },
                          "cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "체결수량 / 길이 18"
                          },
                          "cns_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "체결가격 / 길이 15.6"
                          },
                          "ny_cns_orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "미체결주문수량 / 길이 18"
                          },
                          "cor_can_dit_cd": {
                            "type": "string",
                            "description": "정정취소구분코드 / 길이 1"
                          },
                          "cor_can_dit_nm": {
                            "type": "string",
                            "description": "정정취소구분명 / 길이 4"
                          },
                          "cor_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "정정수량 / 길이 18"
                          },
                          "can_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "취소수량 / 길이 18"
                          },
                          "oss_ato_orr_sts_cd": {
                            "type": "string",
                            "description": "해외증권자동주문상태코드 / 길이 1"
                          },
                          "orr_sts_nm": {
                            "type": "string",
                            "description": "주문상태명 / 길이 6"
                          },
                          "oms_cus_orr_no": {
                            "type": "string",
                            "description": "OMS고객주문번호 / 길이 40"
                          },
                          "rjt_rsn_cts": {
                            "type": "string",
                            "description": "거부사유내용 / 길이 500"
                          },
                          "ivs_nat_krx_dit_cd": {
                            "type": "string",
                            "description": "투자국가거래소구분코드 / 길이 4"
                          },
                          "fix_sgy_tgt_sgy_nm": {
                            "type": "string",
                            "description": "FIX전략타겟전략명 / 길이 10"
                          },
                          "fix_orr_pcs_mtd_cd": {
                            "type": "string",
                            "description": "FIX주문처리방법코드 / 길이 1"
                          },
                          "orr_pcs_mtd_cd_nm": {
                            "type": "string",
                            "description": "주문처리방법코드명 / 길이 40"
                          },
                          "rut_orr_krx_cd": {
                            "type": "string",
                            "description": "로이터주문거래소코드 / 길이 3"
                          },
                          "hts_usr_id": {
                            "type": "string",
                            "description": "HTS사용자ID / 길이 8"
                          },
                          "usr_ip_adr": {
                            "type": "string",
                            "description": "사용자IP주소 / 길이 32"
                          },
                          "cuc_mdi_cd": {
                            "type": "string",
                            "description": "통신매체코드 / 길이 2"
                          },
                          "cuc_mdi_cd_nm": {
                            "type": "string",
                            "description": "통신매체코드명 / 길이 50"
                          },
                          "ahi_nmn_pr_tp_cd": {
                            "type": "string",
                            "description": "현물호가유형코드 / 길이 2"
                          },
                          "ahi_nmn_pr_tp_cd_nm": {
                            "type": "string",
                            "description": "현물호가유형코드명 / 길이 20"
                          },
                          "fc_stop_orr_bse_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "외화STOP주문기준가격 / 길이 15.6"
                          },
                          "orr_pdt_dit_cd": {
                            "type": "string",
                            "description": "주문상품구분코드 / 길이 2"
                          },
                          "orr_dt": {
                            "type": "string",
                            "description": "주문일자 / 길이 8"
                          },
                          "csh_wtm_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "현금증거금율 / 길이 8.5"
                          },
                          "cfd_lon_cd": {
                            "type": "string",
                            "description": "신용대출코드 / 길이 2"
                          },
                          "cfd_lon_cd_nm": {
                            "type": "string",
                            "description": "신용대출코드명 / 길이 40"
                          },
                          "lon_dt": {
                            "type": "string",
                            "description": "대출일자 / 길이 8"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/gbstock/inquiry/v1/balance": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "gbstockInquiryBalance",
        "summary": "해외주식 잔고",
        "description": "원본 시트: API_해외_주식_조회_잔고",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "qut_iqr_dit_cd": {
                        "type": "string",
                        "description": "시세조회구분코드 / 길이 1 / 1.정규장 9.전체"
                      },
                      "fc_sec_trd_nat_cd": {
                        "type": "string",
                        "description": "외화증권거래국가코드 / 길이 3 / 200.미국 070.일본 120.홍콩 160.상해 170.심천"
                      },
                      "cur_cd": {
                        "type": "string",
                        "description": "통화코드 / 길이 3 / KRW.전체 USD.USD CNY.CNY HKD.HKD JPY.JPY"
                      },
                      "xns_dit_cd": {
                        "type": "string",
                        "description": "비용구분코드 / 길이 1 / 0.미포함 1.포함"
                      }
                    },
                    "required": [
                      "act_no",
                      "qut_iqr_dit_cd",
                      "fc_sec_trd_nat_cd",
                      "cur_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "abk_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "장부금액 / 길이 18"
                          },
                          "eal_amt_sum": {
                            "type": "integer",
                            "format": "int64",
                            "description": "평가금액합계 / 길이 18"
                          },
                          "eal_pls_sum_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "평가손익합계금액 / 길이 18"
                          },
                          "krw_pft_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "원화수익율 / 길이 15.9"
                          },
                          "krw_dca": {
                            "type": "integer",
                            "format": "int64",
                            "description": "원화예수금 / 길이 18"
                          },
                          "krw_ny_stl_xcl_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "원화미결제정산금액 / 길이 18"
                          },
                          "tot_aet_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총자산금액 / 길이 18"
                          },
                          "fc_abk_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "외화장부금액 / 길이 15.3"
                          },
                          "fc_eal_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "외화평가금액 / 길이 15.3"
                          },
                          "fc_eal_pls_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "외화평가손익금액 / 길이 15.3"
                          },
                          "pft_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "수익율 / 길이 15.9"
                          },
                          "fc_dca": {
                            "type": "number",
                            "format": "double",
                            "description": "외화예수금 / 길이 15.3"
                          },
                          "fc_ny_stl_xcl_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "외화미결제정산금액 / 길이 15.3"
                          },
                          "fc_aet_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "외화자산금액 / 길이 15.3"
                          },
                          "ptps_ttn_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "PTP과세금액 / 길이 15.3"
                          },
                          "ptps_ttn_amt1": {
                            "type": "number",
                            "format": "double",
                            "description": "PTP과세금액1 / 길이 15.3"
                          },
                          "fc_sec_trd_nat_cd": {
                            "type": "string",
                            "description": "외화증권거래국가코드 / 길이 3"
                          },
                          "fc_sec_trd_nat_nm": {
                            "type": "string",
                            "description": "외화증권거래국가명 / 길이 50"
                          },
                          "iem_cd": {
                            "type": "string",
                            "description": "종목코드 / 길이 12"
                          },
                          "oss_iem_eng_nm": {
                            "type": "string",
                            "description": "해외증권종목영문명 / 길이 60"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "외화증권한글명 / 길이 60"
                          },
                          "cns_bse_bnc_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "체결기준잔고수량 / 길이 18"
                          },
                          "sll_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도체결수량 / 길이 18"
                          },
                          "byn_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수체결수량 / 길이 18"
                          },
                          "sll_pbl_qty1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도가능수량1 / 길이 18"
                          },
                          "krw_abk_amt1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "원화장부금액1 / 길이 18"
                          },
                          "fc_phs_uit_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "외화매입단가 / 길이 15.6"
                          },
                          "phs_uit_pr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매입단가 / 길이 15"
                          },
                          "fc_sec_end_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "외화증권종가 / 길이 15.6"
                          },
                          "end_pr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "종가 / 길이 15"
                          },
                          "krw_eal_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "원화평가금액 / 길이 18"
                          },
                          "krw_eal_pls_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "원화평가손익금액 / 길이 18"
                          },
                          "eal_pft_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "평가수익율 / 길이 15.9"
                          },
                          "eal_pft_rt1": {
                            "type": "number",
                            "format": "double",
                            "description": "평가수익율1 / 길이 15.9"
                          },
                          "cur_cd": {
                            "type": "string",
                            "description": "통화코드 / 길이 3"
                          },
                          "phs_xcg_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "매입환율 / 길이 13.6"
                          },
                          "tdt_sby_bse_xcg_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "당일매매기준환율 / 길이 12.6"
                          },
                          "fc_mkt_dit_cd": {
                            "type": "string",
                            "description": "외화시장구분코드 / 길이 3 / 200.미국 070.일본 120.홍콩 160.상해 170.심천"
                          },
                          "fc_sll_pls_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "외화매도손익금액 / 길이 15.3"
                          },
                          "krw_sll_pls_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "원화매도손익금액 / 길이 18"
                          },
                          "fc_sll_pft_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "외화매도수익율 / 길이 15.9"
                          },
                          "krw_sll_pft_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "원화매도수익율 / 길이 15.9"
                          },
                          "fc_cns_bse_phs_xps": {
                            "type": "number",
                            "format": "double",
                            "description": "외화체결기준매입비 / 길이 15.3"
                          },
                          "krw_cns_bse_phs_xps": {
                            "type": "integer",
                            "format": "int64",
                            "description": "원화체결기준매입비 / 길이 18"
                          },
                          "fc_avg_phs_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "외화평균매입가격 / 길이 15.6"
                          },
                          "krw_avg_phs_pr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "원화평균매입가격 / 길이 18"
                          },
                          "fc_fee": {
                            "type": "number",
                            "format": "double",
                            "description": "외화수수료 / 길이 15.3"
                          },
                          "krw_fee": {
                            "type": "integer",
                            "format": "int64",
                            "description": "원화수수료 / 길이 18"
                          },
                          "fc_tax_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "외화세금금액 / 길이 15.3"
                          },
                          "krw_tax_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "원화세금금액 / 길이 18"
                          },
                          "fc_pls_qtr_phs_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "외화손익분기매입가격 / 길이 15.6"
                          },
                          "krw_pls_qtr_phs_pr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "원화손익분기매입가격 / 길이 18"
                          },
                          "sby_fee_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "매매수수료율 / 길이 15.9"
                          },
                          "fc_stk_lws_sby_fee": {
                            "type": "number",
                            "format": "double",
                            "description": "외화주식최저매매수수료 / 길이 15.3"
                          },
                          "cfd_lon_cd_nm": {
                            "type": "string",
                            "description": "신용대출코드명 / 길이 8"
                          },
                          "lon_dt": {
                            "type": "string",
                            "description": "대출일자 / 길이 8"
                          },
                          "xrn_dt": {
                            "type": "string",
                            "description": "만기일자 / 길이 8"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/gbstock/inquiry/v1/reservedInquiry": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "gbstockInquiryReservedInquiry",
        "summary": "해외주식 예약주문조회",
        "description": "원본 시트: API_해외_주식_조회_예약주문",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "fc_mkt_dit_cd": {
                        "type": "string",
                        "description": "외화시장구분코드 / 길이 3 / 000.전체 200.미국 070.일본 120.홍콩 160.상해 170.심천"
                      },
                      "bkg_orr_dt": {
                        "type": "string",
                        "description": "예약주문일자 / 길이 8 / YYYYMMDD"
                      },
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "티커종목코드 / 길이 12 / 예시> 미국주식 APPLE인 경우, AAPL"
                      },
                      "sby_dit_cd": {
                        "type": "string",
                        "description": "매매구분코드 / 길이 1 / 0.전체 1.매도 2.매수"
                      },
                      "bkg_orr_can_yn": {
                        "type": "string",
                        "description": "예약주문취소여부 / 길이 1 / 0.전체 1.접수 2.취소 3.주문전송 4.주문확인 5.실행거부 6.실행거부(현지) 7.완료"
                      },
                      "oss_orr_knd_cd": {
                        "type": "string",
                        "description": "해외증권주문종류코드 / 길이 1 / 0.전체 1.GTS(미국시장주문) 2.기타자동 3.기타수동"
                      },
                      "bkg_orr_tp_cd": {
                        "type": "string",
                        "description": "예약주문유형코드 / 길이 1 / 0.전체 1.일반예약 2.기간잔량 3.기간지정 4.증거금징수"
                      },
                      "wtm_cur_knd_cd": {
                        "type": "string",
                        "description": "증거금통화종류코드 / 길이 1 / 0.전체 1.거래국가통화 2.원화"
                      }
                    },
                    "required": [
                      "fc_mkt_dit_cd",
                      "bkg_orr_dt",
                      "act_no",
                      "sby_dit_cd",
                      "bkg_orr_can_yn",
                      "oss_orr_knd_cd",
                      "bkg_orr_tp_cd",
                      "wtm_cur_knd_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fc_mkt_dit_cd": {
                            "type": "string",
                            "description": "외화시장구분코드 / 길이 3 / 200.미국 070.일본 120.홍콩 160.상해 170.심천"
                          },
                          "bkg_orr_dt": {
                            "type": "string",
                            "description": "예약주문일자 / 길이 8 / YYYYMMDD"
                          },
                          "act_no": {
                            "type": "string",
                            "description": "계좌번호 / 길이 11"
                          },
                          "cus_fnm": {
                            "type": "string",
                            "description": "고객성명 / 길이 40"
                          },
                          "iem_cd": {
                            "type": "string",
                            "description": "티커종목코드 / 길이 12"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 60"
                          },
                          "cur_cd": {
                            "type": "string",
                            "description": "통화코드 / 길이 3 / KRW.KRW USD.USD CNY.CNY HKD.HKD JPY.JPY"
                          },
                          "sby_dit_cd": {
                            "type": "string",
                            "description": "매매구분코드 / 길이 1 / 1.매도 2.매수"
                          },
                          "sby_dit_nm": {
                            "type": "string",
                            "description": "매매구분명 / 길이 4"
                          },
                          "orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문수량 / 길이 18"
                          },
                          "orr_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "주문가격 / 길이 15.6"
                          },
                          "cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "체결수량 / 길이 18"
                          },
                          "cns_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "체결가격 / 길이 15.6"
                          },
                          "bkg_orr_can_yn": {
                            "type": "string",
                            "description": "예약주문취소여부 / 길이 1"
                          },
                          "orr_can_dit_nm": {
                            "type": "string",
                            "description": "주문취소구분명 / 길이 50"
                          },
                          "bkg_orr_rtn_dt": {
                            "type": "string",
                            "description": "예약주문접수일자 / 길이 8 / YYYYMMDD"
                          },
                          "bkg_orr_rtn_tm": {
                            "type": "string",
                            "description": "예약주문접수시각 / 길이 8"
                          },
                          "rgs_tab_cd": {
                            "type": "string",
                            "description": "등록팀점코드 / 길이 4"
                          },
                          "rgs_emp_no": {
                            "type": "string",
                            "description": "등록사원번호 / 길이 6"
                          },
                          "rgs_emp_fnm": {
                            "type": "string",
                            "description": "등록사원성명 / 길이 40"
                          },
                          "cct_dt": {
                            "type": "string",
                            "description": "해지일자 / 길이 8 / YYYYMMDD"
                          },
                          "cct_tm": {
                            "type": "string",
                            "description": "해지시각 / 길이 8"
                          },
                          "cct_emp_no": {
                            "type": "string",
                            "description": "해지사원번호 / 길이 6"
                          },
                          "cct_emp_fnm": {
                            "type": "string",
                            "description": "해지사원성명 / 길이 40"
                          },
                          "bkg_rtn_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예약접수주문번호 / 길이 10"
                          },
                          "orr_sno": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문일련번호 / 길이 10"
                          },
                          "ost_orr_mdi": {
                            "type": "string",
                            "description": "주문매체 / 길이 2"
                          },
                          "orr_cpl_yn": {
                            "type": "string",
                            "description": "주문완료여부 / 길이 1"
                          },
                          "ost_pcs_cd": {
                            "type": "string",
                            "description": "처리코드 / 길이 5"
                          },
                          "pcs_msg_cts": {
                            "type": "string",
                            "description": "처리메시지내용 / 길이 300"
                          },
                          "aca_tel_no": {
                            "type": "string",
                            "description": "연락처전화번호 / 길이 20"
                          },
                          "ahi_nmn_pr_tp_cd": {
                            "type": "string",
                            "description": "현물호가유형코드 / 길이 2 / 00. 지정가 03. 시장가 05. 조건부지정가 09. 자사주 11. LOO(장개시 지정가) 12. LOC(장마감 지정가) 13. MOO(장개시 시장가) 14. MOC(장마감 시장가) 15. STOP(시장가) 16. STOP LIMIT(지정가) 41. 부분충족(K-OTC) 42. 전량충족(K-OTC) 61. 프리마켓(지정가) 62. 애프터마켓(지정가) 63. 주간거래(지정가) 71. 신고대량전장시가 73. 신고대량종가 81. 시간외종가 87. 시간외대량 88. 바스켓주문 89. 시간외자사주 90. 최유리지정가 91. 최우선지정가 A0. 현재가 B1. 매수우선1호가 B2. 매수우선2호가 S1. 매도우선1호가 S2. 매도우선2호가 TL. TWAP(지정가) TW. TWAP(시장가) VL. VWAP(지정가) VW. VWAP(시장가)"
                          },
                          "ahi_nmn_pr_tp_cd_nm": {
                            "type": "string",
                            "description": "현물호가유형코드명 / 길이 20"
                          },
                          "oss_orr_knd_cd_nm": {
                            "type": "string",
                            "description": "해외증권주문종류코드명 / 길이 20"
                          },
                          "ivs_sgy_cd_nm": {
                            "type": "string",
                            "description": "투자전략코드명 / 길이 10"
                          },
                          "fc_csh_wtm": {
                            "type": "number",
                            "format": "double",
                            "description": "외화현금증거금 / 길이 15.3"
                          },
                          "fc_csh_wtm_fee": {
                            "type": "number",
                            "format": "double",
                            "description": "외화현금증거금수수료 / 길이 15.3"
                          },
                          "fc_csh_wtm_tax_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "외화현금증거금세금금액 / 길이 15.3"
                          },
                          "fc_csh_wtm_trd_tax": {
                            "type": "number",
                            "format": "double",
                            "description": "외화현금증거금거래세 / 길이 15.3"
                          },
                          "fc_mkt_dit_cd_nm": {
                            "type": "string",
                            "description": "외화시장구분코드명 / 길이 50"
                          },
                          "bkg_orr_tp_cd": {
                            "type": "string",
                            "description": "예약주문유형코드 / 길이 1 / 1. 일반예약주문 2. 잔량기준기간예약주문 3. 수량기준기간예약주문 4. 증거금징수 예약"
                          },
                          "bkg_orr_tp_cd_nm": {
                            "type": "string",
                            "description": "예약주문유형코드명 / 길이 50"
                          },
                          "orr_enf_sta_dt": {
                            "type": "string",
                            "description": "주문집행시작일자 / 길이 8 / YYYYMMDD"
                          },
                          "orr_enf_end_dt": {
                            "type": "string",
                            "description": "주문집행종료일자 / 길이 8 / YYYYMMDD"
                          },
                          "acl_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "누적체결수량 / 길이 18"
                          },
                          "lst_orr_enf_dt": {
                            "type": "string",
                            "description": "최종주문집행일자 / 길이 8 / YYYYMMDD"
                          },
                          "rmn_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "잔여수량 / 길이 18"
                          },
                          "wtm_cur_knd_cd": {
                            "type": "string",
                            "description": "증거금통화종류코드 / 길이 1 / 1.거래국가통화 2.원화 3.기타통화"
                          },
                          "cd_nm": {
                            "type": "string",
                            "description": "코드명 / 길이 50"
                          },
                          "fc_stop_orr_bse_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "외화STOP주문기준가격 / 길이 15.6"
                          },
                          "orr_pdt_dit_cd": {
                            "type": "string",
                            "description": "주문상품구분코드 / 길이 2 / 00. 해당없음 01. 월배당서비스 02. 교체예약주문 03. 미국Stop예약주문 _ .해당없음"
                          },
                          "cfd_lon_cd": {
                            "type": "string",
                            "description": "신용대출코드 / 길이 2 / 00. 일반거래 01. 유통융자 02. 자기융자 03. 유통대주 04. 자기대주 20. 해외주식매도담보대출 19. 해외주식담보대출 99. 종합담보대출 _ .해당사항없음"
                          },
                          "cfd_lon_cd_nm": {
                            "type": "string",
                            "description": "신용대출코드명 / 길이 40"
                          },
                          "lon_dt": {
                            "type": "string",
                            "description": "대출일자 / 길이 8 / YYYYMMDD"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/gbstock/inquiry/v1/dailyTransaction": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "gbstockInquiryDailyTransaction",
        "summary": "해외주식 일별거래내역",
        "description": "원본 시트: API_해외_주식_조회_일별거래내역",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "iqr_sta_dt": {
                        "type": "string",
                        "description": "조회시작일자 / 길이 8 / YYYYMMDD"
                      },
                      "iqr_end_dt": {
                        "type": "string",
                        "description": "조회종료일자 / 길이 8 / YYYYMMDD"
                      },
                      "act_trd_cfc_cd": {
                        "type": "string",
                        "description": "계좌거래분류코드 / 길이 2 / 00.전체 01.입금 02.출금 03.입고 04.출고 05.매수 06.매도"
                      },
                      "iem_mlf_cd": {
                        "type": "string",
                        "description": "종목중분류코드 / 길이 5 / 00001.외화주식 00002.외화채권 00003.외화Warrant 00004.외화수익증권 00005.해외수익증권"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> 미국주식 APPLE인 경우, AAPL"
                      }
                    },
                    "required": [
                      "act_no",
                      "iqr_sta_dt",
                      "iqr_end_dt",
                      "act_trd_cfc_cd",
                      "iem_mlf_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "trd_dt": {
                            "type": "string",
                            "description": "거래일자 / 길이 8"
                          },
                          "trd_sno": {
                            "type": "integer",
                            "format": "int64",
                            "description": "거래일련번호 / 길이 5"
                          },
                          "act_trd_tp_nm": {
                            "type": "string",
                            "description": "계좌거래유형명 / 길이 50"
                          },
                          "sps_cd_nm": {
                            "type": "string",
                            "description": "적요코드명 / 길이 50"
                          },
                          "iem_krl_nm": {
                            "type": "string",
                            "description": "종목한글명 / 길이 60"
                          },
                          "iem_cd": {
                            "type": "string",
                            "description": "종목코드 / 길이 12"
                          },
                          "trd_qty": {
                            "type": "number",
                            "format": "double",
                            "description": "거래수량 / 길이 21.6"
                          },
                          "trd_uit_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "거래단가 / 길이 18.6"
                          },
                          "cur_cd_nm": {
                            "type": "string",
                            "description": "통화코드명 / 길이 50"
                          },
                          "aly_xcg_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "적용환율 / 길이 12.6"
                          },
                          "trd_bf_bnc_qty": {
                            "type": "number",
                            "format": "double",
                            "description": "거래전잔고수량 / 길이 21.6"
                          },
                          "trd_af_bnc_qty": {
                            "type": "number",
                            "format": "double",
                            "description": "거래후잔고수량 / 길이 21.6"
                          },
                          "fc_trd_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "외화거래금액 / 길이 18.2"
                          },
                          "krw_trd_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "원화거래금액 / 길이 18"
                          },
                          "trd_af_fc_dca": {
                            "type": "number",
                            "format": "double",
                            "description": "거래후외화예수금 / 길이 18.2"
                          },
                          "trd_af_dca": {
                            "type": "integer",
                            "format": "int64",
                            "description": "거래후예수금 / 길이 18"
                          },
                          "trd_af_fc_mgg_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "거래후외화담보금액 / 길이 18.2"
                          },
                          "trd_af_krw_mgg_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "거래후원화담보금액 / 길이 18"
                          },
                          "abd_sdr_xps_fc_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "국외제비용외화금액 / 길이 18.2"
                          },
                          "tsl_mgg_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "환산담보금액 / 길이 18.2"
                          },
                          "ose_fee": {
                            "type": "number",
                            "format": "double",
                            "description": "해외수수료 / 길이 18.2"
                          },
                          "dmt_fee": {
                            "type": "integer",
                            "format": "int64",
                            "description": "국내수수료 / 길이 18"
                          },
                          "icm_tax": {
                            "type": "number",
                            "format": "double",
                            "description": "소득세 / 길이 18.2"
                          },
                          "rsd_tax": {
                            "type": "number",
                            "format": "double",
                            "description": "주민세 / 길이 18.2"
                          },
                          "rgs_cuc_mdi_cd_nm": {
                            "type": "string",
                            "description": "등록통신매체코드명 / 길이 40"
                          },
                          "rgs_tm": {
                            "type": "string",
                            "description": "등록시각 / 길이 8"
                          },
                          "rgs_tab_cd": {
                            "type": "string",
                            "description": "등록팀점코드 / 길이 4"
                          },
                          "rgs_emp_no": {
                            "type": "string",
                            "description": "등록사원번호 / 길이 6"
                          },
                          "oss_iem_cd": {
                            "type": "string",
                            "description": "해외증권종목코드 / 길이 12"
                          },
                          "oss_iem_nm": {
                            "type": "string",
                            "description": "해외증권종목명 / 길이 60"
                          },
                          "trd_bf_fc_dca": {
                            "type": "number",
                            "format": "double",
                            "description": "거래전외화예수금 / 길이 15.3"
                          },
                          "trd_bf_dca": {
                            "type": "integer",
                            "format": "int64",
                            "description": "거래전예수금 / 길이 18"
                          },
                          "oss_stm_tax": {
                            "type": "number",
                            "format": "double",
                            "description": "해외증권인지세 / 길이 15.3"
                          },
                          "fc_tsl_txa": {
                            "type": "number",
                            "format": "double",
                            "description": "외화환산세액 / 길이 15.3"
                          },
                          "fc_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "외화금액 / 길이 15.3"
                          },
                          "krw_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "원화금액 / 길이 15.3"
                          },
                          "fc_tax_sum": {
                            "type": "number",
                            "format": "double",
                            "description": "외화세금합계 / 길이 15.3"
                          },
                          "tax_sum": {
                            "type": "integer",
                            "format": "int64",
                            "description": "세금합계 / 길이 18"
                          },
                          "fc_icm_tax": {
                            "type": "number",
                            "format": "double",
                            "description": "외화소득세 / 길이 15.3"
                          },
                          "fc_rsd_tax": {
                            "type": "number",
                            "format": "double",
                            "description": "외화주민세 / 길이 15.3"
                          },
                          "fc_sas_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "외화과세표준금액 / 길이 15.3"
                          },
                          "krw_sas_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "원화과세표준금액 / 길이 18"
                          },
                          "tsl_cmu_txa": {
                            "type": "integer",
                            "format": "int64",
                            "description": "환산산출세액 / 길이 18"
                          },
                          "fc_trd_dit_cd": {
                            "type": "string",
                            "description": "외화거래구분코드 / 길이 2"
                          },
                          "ral_trd_dt": {
                            "type": "string",
                            "description": "실거래일자 / 길이 8"
                          },
                          "cus_fnm": {
                            "type": "string",
                            "description": "고객성명 / 길이 40"
                          },
                          "rnm_cfm_no": {
                            "type": "string",
                            "description": "실명확인번호 / 길이 13"
                          },
                          "rpm_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "입금총액 / 길이 18"
                          },
                          "drn_tal": {
                            "type": "integer",
                            "format": "int64",
                            "description": "출금총액 / 길이 18"
                          },
                          "amt_sum": {
                            "type": "integer",
                            "format": "int64",
                            "description": "금액합계 / 길이 18"
                          },
                          "tax_sum_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "세금합계금액 / 길이 18"
                          },
                          "fee_sum_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "수수료합계금액 / 길이 18"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/gbstock/inquiry/v1/periodPnl": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "gbstockInquiryPeriodPnl",
        "summary": "해외주식 기간손익",
        "description": "원본 시트: API_해외_주식_조회_기간손익",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "iqr_dit": {
                        "type": "string",
                        "description": "조회구분 / 길이 1 / 1.거래통화기준 2.원화기준"
                      },
                      "sta_orr_dt": {
                        "type": "string",
                        "description": "시작주문일자 / 길이 8 / YYYYMMDD"
                      },
                      "end_orr_dt": {
                        "type": "string",
                        "description": "종료주문일자 / 길이 8 / YYYYMMDD"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "티커종목코드 / 길이 12 / 예시> 미국주식 APPLE인 경우, AAPL"
                      },
                      "trd_cur_cd": {
                        "type": "string",
                        "description": "거래통화코드 / 길이 3 / KRW.KRW USD.USD CNY.CNY HKD.HKD JPY.JPY"
                      },
                      "fc_sec_trd_nat_cd": {
                        "type": "string",
                        "description": "외화증권거래국가코드 / 길이 3 / 000.전체 200.미국 070.일본 120.홍콩 160.상해 170.심천"
                      }
                    },
                    "required": [
                      "act_no",
                      "iqr_dit",
                      "sta_orr_dt",
                      "end_orr_dt"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "act_fnm": {
                            "type": "string",
                            "description": "계좌성명 / 길이 40"
                          },
                          "byn_qty_sum": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수수량합계 / 길이 15"
                          },
                          "fc_byn_amt_sum": {
                            "type": "number",
                            "format": "double",
                            "description": "외화매수금액합계 / 길이 18.3"
                          },
                          "sll_qty_sum": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도수량합계 / 길이 15"
                          },
                          "fc_sll_amt_sum": {
                            "type": "number",
                            "format": "double",
                            "description": "외화매도금액합계 / 길이 18.3"
                          },
                          "fc_sby_pls_sum": {
                            "type": "number",
                            "format": "double",
                            "description": "외화매매손익합계 / 길이 15.3"
                          },
                          "fc_sby_pft_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "외화매매수익율 / 길이 15.9"
                          },
                          "fc_sdr_xps_sum": {
                            "type": "number",
                            "format": "double",
                            "description": "외화제비용합계 / 길이 15.3"
                          },
                          "fc_rzt_pls_sum": {
                            "type": "number",
                            "format": "double",
                            "description": "외화실현손익합계 / 길이 15.3"
                          },
                          "fc_rzt_pft_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "외화실현수익율 / 길이 15.9"
                          },
                          "orr_dt": {
                            "type": "string",
                            "description": "주문일자 / 길이 8 / YYYYMMDD"
                          },
                          "fc_sec_trd_nat_cd": {
                            "type": "string",
                            "description": "외화증권거래국가코드 / 길이 3 / 200.미국 070.일본 120.홍콩 160.상해 170.심천"
                          },
                          "fc_sec_trd_nat_nm": {
                            "type": "string",
                            "description": "외화증권거래국가명 / 길이 50"
                          },
                          "trd_cur_cd": {
                            "type": "string",
                            "description": "거래통화코드 / 길이 3 / KRW.KRW USD.USD CNY.CNY HKD.HKD JPY.JPY"
                          },
                          "byn_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수수량 / 길이 18"
                          },
                          "byn_uit_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "매수단가 / 길이 15.3"
                          },
                          "fc_byn_amt1": {
                            "type": "number",
                            "format": "double",
                            "description": "외화매수금액1 / 길이 15.3"
                          },
                          "sll_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도수량 / 길이 18"
                          },
                          "sll_uit_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "매도단가 / 길이 15.3"
                          },
                          "fc_sll_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "외화매도금액 / 길이 15.3"
                          },
                          "fc_sby_pls": {
                            "type": "number",
                            "format": "double",
                            "description": "외화매매손익 / 길이 15.3"
                          },
                          "fc_sdr_xps": {
                            "type": "number",
                            "format": "double",
                            "description": "외화제비용 / 길이 15.3"
                          },
                          "fc_rzt_pls": {
                            "type": "number",
                            "format": "double",
                            "description": "외화실현손익 / 길이 15.3"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/gbstock/inquiry/v1/periodPnlDetail": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "gbstockInquiryPeriodPnlDetail",
        "summary": "해외주식 기간손익 상세",
        "description": "원본 시트: API_해외_주식_조회_기간손익상세",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "iqr_dit": {
                        "type": "string",
                        "description": "조회구분 / 길이 1 / 1.거래통화기준 2.원화기준"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "티커종목코드 / 길이 12 / 예시> 미국주식 APPLE인 경우, AAPL"
                      },
                      "orr_dt": {
                        "type": "string",
                        "description": "주문일자 / 길이 8 / YYYYMMDD"
                      },
                      "fc_sec_trd_nat_cd": {
                        "type": "string",
                        "description": "외화증권거래국가코드 / 길이 3 / 200.미국 070.일본 120.홍콩 160.상해 170.심천"
                      },
                      "trd_cur_cd": {
                        "type": "string",
                        "description": "거래통화코드 / 길이 3 / KRW.KRW USD.USD CNY.CNY HKD.HKD JPY.JPY"
                      }
                    },
                    "required": [
                      "act_no",
                      "iqr_dit",
                      "orr_dt",
                      "fc_sec_trd_nat_cd",
                      "trd_cur_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "iem_cd": {
                            "type": "string",
                            "description": "종목코드 / 길이 12"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 60"
                          },
                          "byn_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수수량 / 길이 18"
                          },
                          "byn_uit_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "매수단가 / 길이 15.3"
                          },
                          "fc_byn_amt1": {
                            "type": "number",
                            "format": "double",
                            "description": "외화매수금액1 / 길이 15.3"
                          },
                          "sll_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도수량 / 길이 18"
                          },
                          "sll_uit_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "매도단가 / 길이 15.3"
                          },
                          "fc_sll_amt": {
                            "type": "number",
                            "format": "double",
                            "description": "외화매도금액 / 길이 15.3"
                          },
                          "fc_sby_pls": {
                            "type": "number",
                            "format": "double",
                            "description": "외화매매손익 / 길이 15.3"
                          },
                          "fc_sby_pft_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "외화매매수익율 / 길이 15.9"
                          },
                          "fc_sdr_xps": {
                            "type": "number",
                            "format": "double",
                            "description": "외화제비용 / 길이 15.3"
                          },
                          "fc_rzt_pls": {
                            "type": "number",
                            "format": "double",
                            "description": "외화실현손익 / 길이 15.3"
                          },
                          "fc_rzt_pft_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "외화실현수익율 / 길이 15.9"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
[...]
