{
  "openapi": "3.0.3",
  "info": {
    "title": "NH투자증권 Open API — 국내주식 (Domestic Stock)",
    "version": "v1",
    "description": "NH투자증권 Open API 중 **국내주식 (Domestic Stock)** 자산군의 REST 및 실시간(WebSocket) API 문서입니다. (기준: API명세서 260721 / 나무 환경 · 필드명은 명세서 C열 기준)\n\n- REST: POST + JSON, 요청 Input_0 / 응답 Output_0(배열) + message.\n- 실시간: WebSocket, 푸시=JSON. x-realtime-channels.protocol 참조.\n- 인증: POST /oauth2/token → REST 는 Authorization/x-client-id/x-client-secret, WS 는 header.token.\n- 환경 제공: 이 자산군 API 는 **모의투자·운영 모두 제공**. (접근토큰발급만 공통에서 운영 전용)"
  },
  "servers": [
    {
      "url": "https://api.nhplug.com:8443",
      "description": "🔴 운영 (Live) — 실제 주문 체결 [기본]"
    },
    {
      "url": "https://moapi.nhplug.com:8443",
      "description": "🟢 모의투자 (Mock) — 교육이수·개발·검증"
    }
  ],
  "security": [
    {
      "BearerAuth": [],
      "ClientId": [],
      "ClientSecret": []
    }
  ],
  "x-environments": {
    "portal": "https://www.nhplug.com",
    "note": "기본 환경은 **운영(live)** 입니다. 운영은 주문이 실제로 체결됩니다. 테스트·검증은 모의투자(mock)를 사용하세요. 나무(Namuh) 기준(N2 추후).",
    "mock": {
      "desc": "모의투자 — 교육이수·개발검증",
      "rest": "https://moapi.nhplug.com:8443",
      "websocket": "wss://moapi.nhplug.com:17070"
    },
    "live": {
      "desc": "운영 — 실제 주문 체결",
      "rest": "https://api.nhplug.com:8443",
      "websocket": "wss://api.nhplug.com:7070"
    }
  },
  "tags": [
    {
      "name": "주문 (Order)"
    },
    {
      "name": "조회 (Inquiry)"
    },
    {
      "name": "시세 (Market Data)"
    },
    {
      "name": "실시간 (Realtime)"
    }
  ],
  "paths": {
    "/krstock/order/v1/cashBuy": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krstockOrderCashBuy",
        "summary": "주식주문(현금) 매수",
        "description": "국내주식 현금 매수주문 API 입니다.\n\n원본 시트: API_국내_주식_주문_현금매수",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> NH투자증권인 경우, 005940"
                      },
                      "orr_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문수량 / 길이 18"
                      },
                      "orr_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "주문가격 / 길이 15.3 / 예시> 12,345원인 경우, 12345"
                      },
                      "orr_amt": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문금액 / 길이 18"
                      },
                      "nmn_pr_tp_cd": {
                        "type": "string",
                        "description": "호가유형코드 / 길이 2 / 01.보통가 05.시장가 06.조건부지정가 09.자기주식 10.S-OPTION자기주식 11.금전신탁자기주식 12.최유리지정가 13.최우선지정가 16.스톱지정가 17.중간가 61.장전시간외 71.장후시간외 81.시간외단일가 91.장전시간외경쟁대량 92.장중경쟁대량"
                      },
                      "orr_cnd_dit_cd": {
                        "type": "string",
                        "description": "주문조건구분코드 / 길이 2 / 00.없음 01.IOC 02.FOK"
                      },
                      "ssl_nmn_pr_dit_cd": {
                        "type": "string",
                        "description": "공매도호가구분코드 / 길이 2 / 00.정상 (기본값) 01.차입주식매도 02.기타공매도 99.권리공매도"
                      },
                      "sop_cnd_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "정지조건가격 / 길이 15.3 / 호가유형코드 16(스톱지정가일때만 입력)"
                      },
                      "rmt_mkt_cd": {
                        "type": "string",
                        "description": "요청시장코드 / 길이 3 / SOR/KRX/NXT"
                      },
                      "sor_mkt_sli_yn": {
                        "type": "string",
                        "description": "SOR시장분할여부 / 길이 1 / SOR일경우에만 Y/N선택, KRX/NXT 면 무조건 N"
                      }
                    },
                    "required": [
                      "act_no",
                      "iem_cd",
                      "orr_qty",
                      "nmn_pr_tp_cd",
                      "orr_cnd_dit_cd",
                      "ssl_nmn_pr_dit_cd",
                      "rmt_mkt_cd",
                      "sor_mkt_sli_yn"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orr_gno_tab_cd": {
                            "type": "string",
                            "description": "주문채번팀점코드 / 길이 4"
                          },
                          "mkt_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "시장주문번호 / 길이 10 / 정정/취소시 필요한 주문번호"
                          },
                          "sor_fle_id": {
                            "type": "string",
                            "description": "SOR파일ID / 길이 20 / SOR 증적파일ID ＊요청시장코드 SOR 경우에만 세팅"
                          },
                          "sor_ant_rt1": {
                            "type": "number",
                            "format": "double",
                            "description": "SOR배분비율1 / 길이 11.8 / KRX 배분비율 ＊요청시장코드 SOR 경우에만 세팅"
                          },
                          "sor_ant_rt2": {
                            "type": "number",
                            "format": "double",
                            "description": "SOR배분비율2 / 길이 11.8 / NXT 배분비율 ＊요청시장코드 SOR 경우에만 세팅"
                          },
                          "orr_qty1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문수량1 / 길이 18 / KRX 주문수량"
                          },
                          "orr_qty2": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문수량2 / 길이 18 / NXT 주문수량"
                          },
                          "anw_cld_mkt_orr_no1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "신규자시장주문번호1 / 길이 10 / KRX 시장주문번호"
                          },
                          "anw_cld_mkt_orr_no2": {
                            "type": "integer",
                            "format": "int64",
                            "description": "신규자시장주문번호2 / 길이 10 / NXT 시장주문번호"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krstock/order/v1/cashSell": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krstockOrderCashSell",
        "summary": "주식주문(현금) 매수",
        "description": "국내주식 현금 매도주문 API 입니다.\n\n원본 시트: API_국내_주식_주문_현금매도",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> NH투자증권인 경우, 005940"
                      },
                      "orr_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문수량 / 길이 18"
                      },
                      "orr_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "주문가격 / 길이 15.3 / 예시> 12,345원인 경우, 12345"
                      },
                      "orr_amt": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문금액 / 길이 18"
                      },
                      "nmn_pr_tp_cd": {
                        "type": "string",
                        "description": "호가유형코드 / 길이 2 / 01.보통가 05.시장가 06.조건부지정가 09.자기주식 10.S-OPTION자기주식 11.금전신탁자기주식 12.최유리지정가 13.최우선지정가 16.스톱지정가 17.중간가 61.장전시간외 71.장후시간외 81.시간외단일가 91.장전시간외경쟁대량 92.장중경쟁대량"
                      },
                      "orr_cnd_dit_cd": {
                        "type": "string",
                        "description": "주문조건구분코드 / 길이 2 / 00.없음 01.IOC 02.FOK"
                      },
                      "ssl_nmn_pr_dit_cd": {
                        "type": "string",
                        "description": "공매도호가구분코드 / 길이 2 / 00.정상 (기본값) 01.차입주식매도 02.기타공매도 99.권리공매도"
                      },
                      "sop_cnd_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "정지조건가격 / 길이 15.3 / 호가유형코드 16(스톱지정가일때만 입력)"
                      },
                      "rmt_mkt_cd": {
                        "type": "string",
                        "description": "요청시장코드 / 길이 3 / SOR/KRX/NXT"
                      },
                      "sor_mkt_sli_yn": {
                        "type": "string",
                        "description": "SOR시장분할여부 / 길이 1 / SOR일경우에만 Y/N선택, KRX/NXT 면 , 무조건 N"
                      }
                    },
                    "required": [
                      "act_no",
                      "iem_cd",
                      "orr_qty",
                      "nmn_pr_tp_cd",
                      "orr_cnd_dit_cd",
                      "ssl_nmn_pr_dit_cd",
                      "rmt_mkt_cd",
                      "sor_mkt_sli_yn"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orr_gno_tab_cd": {
                            "type": "string",
                            "description": "주문채번팀점코드 / 길이 4"
                          },
                          "mkt_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "시장주문번호 / 길이 10 / 정정/취소시 필요한 주문번호"
                          },
                          "sor_fle_id": {
                            "type": "string",
                            "description": "SOR파일ID / 길이 20 / SOR 증적파일ID ＊요청시장코드 SOR 경우에만 세팅"
                          },
                          "sor_ant_rt1": {
                            "type": "number",
                            "format": "double",
                            "description": "SOR배분비율1 / 길이 11.8 / KRX 배분비율 ＊요청시장코드 SOR 경우에만 세팅"
                          },
                          "sor_ant_rt2": {
                            "type": "number",
                            "format": "double",
                            "description": "SOR배분비율2 / 길이 11.8 / NXT 배분비율 ＊요청시장코드 SOR 경우에만 세팅"
                          },
                          "orr_qty1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문수량1 / 길이 18 / KRX 주문수량"
                          },
                          "orr_qty2": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문수량2 / 길이 18 / NXT 주문수량"
                          },
                          "anw_cld_mkt_orr_no1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "신규자시장주문번호1 / 길이 10 / KRX 시장주문번호"
                          },
                          "anw_cld_mkt_orr_no2": {
                            "type": "integer",
                            "format": "int64",
                            "description": "신규자시장주문번호2 / 길이 10 / NXT 시장주문번호"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krstock/order/v1/creditBuy": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krstockOrderCreditBuy",
        "summary": "주식주문(신용) 매수",
        "description": "국내주식 신용 매수주문 API 입니다.\n\n원본 시트: API_국내_주식_주문_신용매수",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> NH투자증권인 경우, 005940"
                      },
                      "orr_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문수량 / 길이 18"
                      },
                      "orr_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "주문가격 / 길이 15.3 / 예시> 12,345원인 경우, 12345"
                      },
                      "orr_amt": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문금액 / 길이 18"
                      },
                      "nmn_pr_tp_cd": {
                        "type": "string",
                        "description": "호가유형코드 / 길이 2 / 01.보통가 05.시장가 06.조건부지정가 09.자기주식 10.S-OPTION자기주식 11.금전신탁자기주식 12.최유리지정가 13.최우선지정가 16.스톱지정가 17.중간가 61.장전시간외 71.장후시간외 81.시간외단일가 91.장전시간외경쟁대량 92.장중경쟁대량"
                      },
                      "orr_cnd_dit_cd": {
                        "type": "string",
                        "description": "주문조건구분코드 / 길이 2 / 00.없음 01.IOC 02.FOK"
                      },
                      "cfd_lon_cd": {
                        "type": "string",
                        "description": "신용대출코드 / 길이 2 / 01.유통융자 02.자기융자 03.유통대주 04.자기대주 10.매입자금대출"
                      },
                      "lon_dt": {
                        "type": "string",
                        "description": "대출일자 / 길이 8 / 신용대출코드 03,04일 경우 필수"
                      },
                      "sop_cnd_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "정지조건가격 / 길이 15.3 / 호가유형코드 16(스톱지정가일때만 입력)"
                      },
                      "rmt_mkt_cd": {
                        "type": "string",
                        "description": "요청시장코드 / 길이 3 / SOR/KRX/NXT"
                      },
                      "sor_mkt_sli_yn": {
                        "type": "string",
                        "description": "SOR시장분할여부 / 길이 1 / SOR일경우에만 Y/N선택, KRX/NXT 면 무조건 N"
                      }
                    },
                    "required": [
                      "act_no",
                      "iem_cd",
                      "orr_qty",
                      "nmn_pr_tp_cd",
                      "orr_cnd_dit_cd",
                      "cfd_lon_cd",
                      "rmt_mkt_cd",
                      "sor_mkt_sli_yn"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orr_gno_tab_cd": {
                            "type": "string",
                            "description": "주문채번팀점코드 / 길이 4"
                          },
                          "mkt_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "시장주문번호 / 길이 10 / 정정/취소시 필요한 주문번호"
                          },
                          "sor_fle_id": {
                            "type": "string",
                            "description": "SOR파일ID / 길이 20 / SOR 증적파일ID ＊요청시장코드 SOR 경우에만 세팅"
                          },
                          "sor_ant_rt1": {
                            "type": "number",
                            "format": "double",
                            "description": "SOR배분비율1 / 길이 11.8 / KRX 배분비율 ＊요청시장코드 SOR 경우에만 세팅"
                          },
                          "sor_ant_rt2": {
                            "type": "number",
                            "format": "double",
                            "description": "SOR배분비율2 / 길이 11.8 / NXT 배분비율 ＊요청시장코드 SOR 경우에만 세팅"
                          },
                          "orr_qty1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문수량1 / 길이 18 / KRX 주문수량"
                          },
                          "orr_qty2": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문수량2 / 길이 18 / NXT 주문수량"
                          },
                          "anw_cld_mkt_orr_no1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "신규자시장주문번호1 / 길이 10 / KRX 시장주문번호"
                          },
                          "anw_cld_mkt_orr_no2": {
                            "type": "integer",
                            "format": "int64",
                            "description": "신규자시장주문번호2 / 길이 10 / NXT 시장주문번호"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krstock/order/v1/creditSell": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krstockOrderCreditSell",
        "summary": "주식주문(신용) 매수",
        "description": "국내주식 신용 매도주문 API 입니다.\n\n원본 시트: API_국내_주식_주문_신용매도",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> NH투자증권인 경우, 005940"
                      },
                      "orr_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문수량 / 길이 18"
                      },
                      "orr_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "주문가격 / 길이 15.3 / 예시> 12,345원인 경우, 12345"
                      },
                      "orr_amt": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문금액 / 길이 18"
                      },
                      "nmn_pr_tp_cd": {
                        "type": "string",
                        "description": "호가유형코드 / 길이 2 / 01.보통가 05.시장가 06.조건부지정가 09.자기주식 10.S-OPTION자기주식 11.금전신탁자기주식 12.최유리지정가 13.최우선지정가 16.스톱지정가 17.중간가 61.장전시간외 71.장후시간외 81.시간외단일가 91.장전시간외경쟁대량 92.장중경쟁대량"
                      },
                      "orr_cnd_dit_cd": {
                        "type": "string",
                        "description": "주문조건구분코드 / 길이 2 / 00.없음 01.IOC 02.FOK"
                      },
                      "cfd_lon_cd": {
                        "type": "string",
                        "description": "신용대출코드 / 길이 2 / 01.유통융자 02.자기융자 03.유통대주 04.자기대주 10.매입자금대출"
                      },
                      "lon_dt": {
                        "type": "string",
                        "description": "대출일자 / 길이 8 / 신용대출코드 03,04일 경우 필수"
                      },
                      "sop_cnd_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "정지조건가격 / 길이 15.3 / 호가유형코드 16(스톱지정가일때만 입력)"
                      },
                      "rmt_mkt_cd": {
                        "type": "string",
                        "description": "요청시장코드 / 길이 3 / SOR/KRX/NXT"
                      },
                      "sor_mkt_sli_yn": {
                        "type": "string",
                        "description": "SOR시장분할여부 / 길이 1 / SOR일경우에만 Y/N선택, KRX/NXT 면 , 무조건 N"
                      }
                    },
                    "required": [
                      "act_no",
                      "iem_cd",
                      "orr_qty",
                      "nmn_pr_tp_cd",
                      "orr_cnd_dit_cd",
                      "cfd_lon_cd",
                      "rmt_mkt_cd",
                      "sor_mkt_sli_yn"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orr_gno_tab_cd": {
                            "type": "string",
                            "description": "주문채번팀점코드 / 길이 4"
                          },
                          "mkt_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "시장주문번호 / 길이 10 / 정정/취소시 필요한 주문번호"
                          },
                          "sor_fle_id": {
                            "type": "string",
                            "description": "SOR파일ID / 길이 20 / SOR 증적파일ID ＊요청시장코드 SOR 경우에만 세팅"
                          },
                          "sor_ant_rt1": {
                            "type": "number",
                            "format": "double",
                            "description": "SOR배분비율1 / 길이 11.8 / KRX 배분비율 ＊요청시장코드 SOR 경우에만 세팅"
                          },
                          "sor_ant_rt2": {
                            "type": "number",
                            "format": "double",
                            "description": "SOR배분비율2 / 길이 11.8 / NXT 배분비율 ＊요청시장코드 SOR 경우에만 세팅"
                          },
                          "orr_qty1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문수량1 / 길이 18 / KRX 주문수량"
                          },
                          "orr_qty2": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문수량2 / 길이 18 / NXT 주문수량"
                          },
                          "anw_cld_mkt_orr_no1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "신규자시장주문번호1 / 길이 10 / KRX 시장주문번호"
                          },
                          "anw_cld_mkt_orr_no2": {
                            "type": "integer",
                            "format": "int64",
                            "description": "신규자시장주문번호2 / 길이 10 / NXT 시장주문번호"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krstock/order/v1/modify": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krstockOrderModify",
        "summary": "주식주문(정정취소) 정정",
        "description": "국내주식 정정주문 API 입니다.\n\n원본 시트: API_국내_주식_주문_정정",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "org_mkt_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "원시장주문번호 / 길이 10"
                      },
                      "all_pat_dit_cd": {
                        "type": "string",
                        "description": "전체일부구분코드 / 길이 1 / 1.전체(전량) 2.일부(잔량)"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> NH투자증권인 경우, 005940"
                      },
                      "cor_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "정정수량 / 길이 18 / 전체일부구분코드 \"2.일부(잔량)\"인 경우 셋팅"
                      },
                      "cor_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "정정가격 / 길이 15.3 / 예시> 12,345원인 경우, 12345"
                      },
                      "sop_cnd_pr": {
                        "type": "number",
                        "format": "double",
                        "description": "정지조건가격 / 길이 15.3 / 원주문의 호가유형코드 16(스톱지정가일때) KRX는 효력발생전으로만 수정가능 NXT는 원주문의 스톱지정가 그대로입력"
                      },
                      "rmt_mkt_cd": {
                        "type": "string",
                        "description": "요청시장코드 / 길이 3 / 원주문과 동일하게 입력(SOR/KRX/NXT)"
                      },
                      "sor_mkt_sli_yn": {
                        "type": "string",
                        "description": "SOR시장분할여부 / 길이 1 / 원주문과 동일하게 입력 (SOR일경우에만 Y/N선택, KRX/NXT 면 , 무조건 N)"
                      }
                    },
                    "required": [
                      "act_no",
                      "org_mkt_orr_no",
                      "all_pat_dit_cd",
                      "iem_cd",
                      "cor_qty",
                      "cor_pr",
                      "sop_cnd_pr",
                      "rmt_mkt_cd",
                      "sor_mkt_sli_yn"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orr_gno_tab_cd": {
                            "type": "string",
                            "description": "주문채번팀점코드 / 길이 4"
                          },
                          "mkt_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "시장주문번호 / 길이 10 / 정정/취소시 필요한 주문번호"
                          },
                          "sor_fle_id": {
                            "type": "string",
                            "description": "SOR파일ID / 길이 20 / SOR 증적파일ID ＊요청시장코드 SOR 경우에만 세팅"
                          },
                          "can_sor_ant_rt1": {
                            "type": "number",
                            "format": "double",
                            "description": "취소SOR배분비율1 / 길이 11.8 / KRX 배분비율 ＊요청시장코드 SOR 경우에만 세팅"
                          },
                          "can_sor_ant_rt2": {
                            "type": "number",
                            "format": "double",
                            "description": "취소SOR배분비율2 / 길이 11.8 / NXT 배분비율 ＊요청시장코드 SOR 경우에만 세팅"
                          },
                          "can_orr_qty1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "취소주문수량1 / 길이 18 / KRX 주문수량"
                          },
                          "can_orr_qty2": {
                            "type": "integer",
                            "format": "int64",
                            "description": "취소주문수량2 / 길이 18 / NXT 주문수량"
                          },
                          "can_cld_mkt_orr_no1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "취소자시장주문번호1 / 길이 10 / KRX 시장주문번호"
                          },
                          "can_cld_mkt_orr_no2": {
                            "type": "integer",
                            "format": "int64",
                            "description": "취소자시장주문번호2 / 길이 10 / NXT 시장주문번호"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krstock/order/v1/cancel": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krstockOrderCancel",
        "summary": "주식주문(정정취소) 정정",
        "description": "국내주식 취소주문 API 입니다.\n\n원본 시트: API_국내_주식_주문_취소",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "org_mkt_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "원시장주문번호 / 길이 10"
                      },
                      "all_pat_dit_cd": {
                        "type": "string",
                        "description": "전체일부구분코드 / 길이 1 / 1.전체(전량) 2.일부(잔량)"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> NH투자증권인 경우, 005940"
                      },
                      "cor_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "정정수량 / 길이 18 / 전체일부구분코드 \"2.일부(잔량)\"인 경우 셋팅"
                      }
                    },
                    "required": [
                      "act_no",
                      "org_mkt_orr_no",
                      "all_pat_dit_cd",
                      "iem_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orr_gno_tab_cd": {
                            "type": "string",
                            "description": "주문채번팀점코드 / 길이 4"
                          },
                          "mkt_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "시장주문번호 / 길이 10 / 정정/취소시 필요한 주문번호"
                          },
                          "sor_fle_id": {
                            "type": "string",
                            "description": "SOR파일ID / 길이 20 / SOR 증적파일ID ＊요청시장코드 SOR 경우에만 세팅"
                          },
                          "can_sor_ant_rt1": {
                            "type": "number",
                            "format": "double",
                            "description": "취소SOR배분비율1 / 길이 11.8 / KRX 배분비율 ＊요청시장코드 SOR 경우에만 세팅"
                          },
                          "can_sor_ant_rt2": {
                            "type": "number",
                            "format": "double",
                            "description": "취소SOR배분비율2 / 길이 11.8 / NXT 배분비율 ＊요청시장코드 SOR 경우에만 세팅"
                          },
                          "can_orr_qty1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "취소주문수량1 / 길이 18 / KRX 주문수량"
                          },
                          "can_orr_qty2": {
                            "type": "integer",
                            "format": "int64",
                            "description": "취소주문수량2 / 길이 18 / NXT 주문수량"
                          },
                          "can_cld_mkt_orr_no1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "취소자시장주문번호1 / 길이 10 / KRX 시장주문번호"
                          },
                          "can_cld_mkt_orr_no2": {
                            "type": "integer",
                            "format": "int64",
                            "description": "취소자시장주문번호2 / 길이 10 / NXT 시장주문번호"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krstock/TODO/API_국내_주식_조회_정정취소": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "krstockTODOAPI_국내_주식_조회_정정취소",
        "summary": "주식정정취소가능주문조회",
        "description": "원본 시트: API_국내_주식_조회_정정취소",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> A005930"
                      },
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "sot_dit": {
                        "type": "string",
                        "description": "정렬구분_IO / 길이 1 / 0.번호순 1.역순"
                      },
                      "sby_dit_cd": {
                        "type": "string",
                        "description": "매매구분코드 / 길이 1 / 0.전체 1.매도 2.매수"
                      },
                      "cfd_dit_cd": {
                        "type": "string",
                        "description": "신용구분코드 / 길이 1 / 0.전체 1.보통 2.신용 3.대출"
                      },
                      "CTS": {
                        "type": "string",
                        "description": "CTS / 길이 82 / 다음 데이터 조회를 위한 값. 이전 CTS값과 동일한 값이거나 공백일 경우 마지막 데이터"
                      }
                    },
                    "required": [
                      "act_no",
                      "sot_dit",
                      "sby_dit_cd",
                      "cfd_dit_cd",
                      "CTS"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문번호 / 길이 10"
                          },
                          "org_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "원주문번호 / 길이 10"
                          },
                          "act_no": {
                            "type": "string",
                            "description": "계좌번호 / 길이 11"
                          },
                          "sby_dit_cd_nm": {
                            "type": "string",
                            "description": "매매구분코드명 / 길이 50"
                          },
                          "nmn_pr_tp_cd": {
                            "type": "string",
                            "description": "호가유형코드 / 길이 2"
                          },
                          "nmn_pr_tp_cd_nm": {
                            "type": "string",
                            "description": "호가유형코드명_IO / 길이 30"
                          },
                          "orr_cnd_dit_cd": {
                            "type": "string",
                            "description": "주문조건구분코드 / 길이 2"
                          },
                          "orr_cnd_dit_cd_nm": {
                            "type": "string",
                            "description": "주문조건구분코드명_IO / 길이 60"
                          },
                          "lon_dt": {
                            "type": "string",
                            "description": "대출일자 / 길이 8"
                          },
                          "cfd_lon_cd": {
                            "type": "string",
                            "description": "신용대출코드 / 길이 2"
                          },
                          "cfd_lon_cd_nm": {
                            "type": "string",
                            "description": "신용대출코드명_IO / 길이 40"
                          },
                          "iem_cd": {
                            "type": "string",
                            "description": "종목코드 / 길이 12"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 60"
                          },
                          "orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문수량 / 길이 18"
                          },
                          "cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "체결수량 / 길이 18"
                          },
                          "orr_uit_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "주문단가 / 길이 15.3"
                          },
                          "cns_avg_uit_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "체결평균단가 / 길이 15.3"
                          },
                          "cor_can_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "정정취소가능수량_IO / 길이 15"
                          },
                          "orr_mkt_cd": {
                            "type": "string",
                            "description": "주문시장코드 / 길이 2"
                          },
                          "ssl_nmn_pr_dit_cd": {
                            "type": "string",
                            "description": "공매도호가구분코드 / 길이 2"
                          },
                          "ssl_nmn_pr_dit_cd_nm": {
                            "type": "string",
                            "description": "공매도호가구분코드명_IO / 길이 50"
                          },
                          "rmt_mkt_cd": {
                            "type": "string",
                            "description": "요청시장코드 / 길이 3 / SOR/KRX/NXT"
                          },
                          "snd_mkt_cd": {
                            "type": "string",
                            "description": "전송시장코드 / 길이 3 / Y.분할 N.미분할"
                          },
                          "sor_mkt_sli_yn": {
                            "type": "string",
                            "description": "SOR시장분할여부 / 길이 1"
                          },
                          "mo_cld_orr_dit_cd": {
                            "type": "string",
                            "description": "모자주문구분코드 / 길이 2"
                          },
                          "sop_cnd_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "정지조건가격 / 길이 15.3"
                          },
                          "rmt_mkt_nm": {
                            "type": "string",
                            "description": "요청시장명 / 길이 50"
                          },
                          "sop_cnd_pr_rch_yn": {
                            "type": "string",
                            "description": "정지조건가격도달여부 / 길이 1"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "x-todo": "원본 명세서 URI 미정",
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/krstock/order/v1/reservedOrder": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krstockOrderReservedOrder",
        "summary": "주식예약주문",
        "description": "국내주식 예약주문(매수/매도) API 입니다.\n\n원본 시트: API_국내_주식_주문_예약",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> NH투자증권인 경우, 005940"
                      },
                      "sby_dit_cd": {
                        "type": "string",
                        "description": "매매구분코드 / 길이 1 / 1.매도 2.매수"
                      },
                      "frs_sba_orr_yn": {
                        "type": "string",
                        "description": "선물대용주문여부 / 길이 1 / Y.예 N.아니오"
                      },
                      "nmn_pr_tp_cd": {
                        "type": "string",
                        "description": "호가유형코드 / 길이 2 / 01.지정가 05.시장가 06.조건부지정가 09.자기주식 61.장전시간외"
                      },
                      "cfd_lon_cd": {
                        "type": "string",
                        "description": "신용대출코드 / 길이 2 / 00.일반거래 01.유통융자 02.자기융자 03.유통대주 04.자기대주 10.매입자금대출 11.매도담보대출 12.주식담보대출"
                      },
                      "lon_dt": {
                        "type": "string",
                        "description": "대출일자 / 길이 8 / YYYYMMDD"
                      },
                      "orr_qty": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문수량 / 길이 18"
                      },
                      "orr_uit_pr": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문단가 / 길이 18 / 예시> 12,345원인 경우, 12345"
                      },
                      "bkg_orr_tp_cd": {
                        "type": "string",
                        "description": "예약주문유형코드 / 길이 1 / 1.일반예약 2.잔량주문 3.지정수량주문"
                      },
                      "bkg_orr_sta_dt": {
                        "type": "string",
                        "description": "예약주문시작일자 / 길이 8 / 예약주문유형코드가 \"2\" 또는 \"3\"일 때 (최대 30일) YYYYMMDD"
                      },
                      "bkg_orr_end_dt": {
                        "type": "string",
                        "description": "예약주문종료일자 / 길이 8 / 예약주문유형코드가 \"2\" 또는 \"3\"일 때 (최대 30일) YYYYMMDD"
                      },
                      "bkg_orr_enf_tp_cd": {
                        "type": "string",
                        "description": "예약주문집행유형코드 / 길이 1 / 1.일반 2.기준가격대비"
                      },
                      "end_pr_cmp_ftw_amt": {
                        "type": "integer",
                        "format": "int64",
                        "description": "종가대비등락폭금액 / 길이 18 / 예약주문집행유형코드가 \"2\"일 때"
                      },
                      "orr_pr_rge_hlm_pr": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문가격범위상한가 / 길이 18 / 예약주문집행유형코드가 \"2\"일 때"
                      },
                      "orr_pr_rge_llm_pr": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문가격범위하한가 / 길이 18 / 예약주문집행유형코드가 \"2\"일 때"
                      },
                      "rmt_mkt_cd": {
                        "type": "string",
                        "description": "요청시장코드 / 길이 3 / KRX.KRX NXT.NXT"
                      }
                    },
                    "required": [
                      "act_no",
                      "iem_cd",
                      "sby_dit_cd",
                      "frs_sba_orr_yn",
                      "nmn_pr_tp_cd",
                      "cfd_lon_cd",
                      "orr_qty",
                      "orr_uit_pr",
                      "bkg_orr_tp_cd",
                      "bkg_orr_enf_tp_cd",
                      "rmt_mkt_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bkg_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예약주문번호 / 길이 10 / 예약 접수된 번호"
                          },
                          "act_no": {
                            "type": "string",
                            "description": "계좌번호 / 길이 11 / 입력값 표시"
                          },
                          "iem_cd": {
                            "type": "string",
                            "description": "종목코드 / 길이 12 / 입력값 표시"
                          },
                          "sby_dit_cd": {
                            "type": "string",
                            "description": "매매구분코드 / 길이 1 / 입력값 표시"
                          },
                          "frs_sba_orr_yn": {
                            "type": "string",
                            "description": "선물대용주문여부 / 길이 1 / 입력값 표시"
                          },
                          "nmn_pr_tp_cd": {
                            "type": "string",
                            "description": "호가유형코드 / 길이 2 / 입력값 표시"
                          },
                          "cfd_lon_cd": {
                            "type": "string",
                            "description": "신용대출코드 / 길이 2 / 입력값 표시"
                          },
                          "lon_dt": {
                            "type": "string",
                            "description": "대출일자 / 길이 8 / 입력값 표시"
                          },
                          "orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문수량 / 길이 18 / 입력값 표시"
                          },
                          "orr_uit_pr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문단가 / 길이 18 / 입력값 표시"
                          },
                          "aca_tel_no": {
                            "type": "string",
                            "description": "연락처전화번호 / 길이 20 / 입력값 표시"
                          },
                          "bkg_orr_tp_cd": {
                            "type": "string",
                            "description": "예약주문유형코드 / 길이 1 / 입력값 표시"
                          },
                          "bkg_orr_sta_dt": {
                            "type": "string",
                            "description": "예약주문시작일자 / 길이 8 / 입력값 표시"
                          },
                          "bkg_orr_end_dt": {
                            "type": "string",
                            "description": "예약주문종료일자 / 길이 8 / 입력값 표시"
                          },
                          "bkg_orr_enf_tp_cd": {
                            "type": "string",
                            "description": "예약주문집행유형코드 / 길이 1 / 입력값 표시"
                          },
                          "end_pr_cmp_ftw_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "종가대비등락폭금액 / 길이 18 / 입력값 표시"
                          },
                          "orr_pr_rge_hlm_pr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가격범위상한가 / 길이 18 / 입력값 표시"
                          },
                          "orr_pr_rge_llm_pr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가격범위하한가 / 길이 18 / 입력값 표시"
                          },
                          "pwd": {
                            "type": "string",
                            "description": "비밀번호 / 길이 8 / 입력값 표시"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krstock/order/v1/reservedCancel": {
      "post": {
        "tags": [
          "주문 (Order)"
        ],
        "operationId": "krstockOrderReservedCancel",
        "summary": "주식예약주문취소",
        "description": "국내주식 예약 취소주문 API 입니다.\n\n원본 시트: API_국내_주식_주문_예약취소",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "sby_dit_cd": {
                        "type": "string",
                        "description": "매매구분코드 / 길이 1 / 1.매도 2.매수"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> NH투자증권인 경우, 005940"
                      },
                      "bkg_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "예약주문번호 / 길이 10"
                      },
                      "bkg_orr_tp_cd": {
                        "type": "string",
                        "description": "예약주문유형코드 / 길이 1 / 1.일반예약 2.잔량주문 3.지정수량주문"
                      },
                      "bkg_rtn_dt": {
                        "type": "string",
                        "description": "예약접수일자 / 길이 8 / 예약주문유형코드가 \"2\" 또는 \"3\"일 때 YYYYMMDD"
                      },
                      "rmt_mkt_cd": {
                        "type": "string",
                        "description": "요청시장코드 / 길이 3 / KRX.KRX NXT.NXT"
                      }
                    },
                    "required": [
                      "act_no",
                      "sby_dit_cd",
                      "iem_cd",
                      "bkg_orr_no",
                      "bkg_orr_tp_cd",
                      "rmt_mkt_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "act_no": {
                            "type": "string",
                            "description": "계좌번호 / 길이 11 / 입력값 표시"
                          },
                          "sby_dit_cd": {
                            "type": "string",
                            "description": "매매구분코드 / 길이 1 / 입력값 표시"
                          },
                          "iem_cd": {
                            "type": "string",
                            "description": "종목코드 / 길이 12 / 입력값 표시"
                          },
                          "bkg_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예약주문번호 / 길이 10 / 입력값 표시"
                          },
                          "bkg_orr_tp_cd": {
                            "type": "string",
                            "description": "예약주문유형코드 / 길이 1 / 입력값 표시"
                          },
                          "bkg_rtn_dt": {
                            "type": "string",
                            "description": "예약접수일자 / 길이 8 / 입력값 표시"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/krstock/inquiry/v1/dailyOrderExecution": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "krstockInquiryDailyOrderExecution",
        "summary": "주식일별주문체결조회",
        "description": "국내주식 체결내역 조회 API 입니다.\n\n원본 시트: API_국내_주식_조회_체결",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "orr_dt": {
                        "type": "string",
                        "description": "주문일자 / 길이 8 / YYYYMMDD"
                      },
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "itg_orr_no": {
                        "type": "integer",
                        "format": "int64",
                        "description": "통합주문번호 / 길이 10"
                      },
                      "orr_mkt_cd": {
                        "type": "string",
                        "description": "주문시장코드 / 길이 2 / 00.전체 01.거래소주식 02.코스닥 03.K-OTC 06.코넥스"
                      },
                      "ost_cns_dit": {
                        "type": "string",
                        "description": "체결구분 / 길이 1 / 0.전체 1.미체결 2.체결"
                      }
                    },
                    "required": [
                      "orr_dt",
                      "act_no",
                      "ost_cns_dit"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cus_fnm": {
                            "type": "string",
                            "description": "고객성명 / 길이 40"
                          },
                          "itg_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "통합주문번호 / 길이 11"
                          },
                          "orr_mkt_cd_nm": {
                            "type": "string",
                            "description": "주문시장코드명 / 길이 50"
                          },
                          "mo_itg_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "모통합주문번호 / 길이 11"
                          },
                          "org_itg_orr_no": {
                            "type": "integer",
                            "format": "int64",
                            "description": "원통합주문번호 / 길이 11"
                          },
                          "iem_cd": {
                            "type": "string",
                            "description": "종목코드 / 길이 12"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 50"
                          },
                          "sby_dit_cd_nm": {
                            "type": "string",
                            "description": "매매구분코드명 / 길이 50"
                          },
                          "cor_can_dit_cd_nm": {
                            "type": "string",
                            "description": "정정취소구분코드명 / 길이 4"
                          },
                          "lon_dt": {
                            "type": "string",
                            "description": "대출일자 / 길이 8"
                          },
                          "cfd_lon_cd": {
                            "type": "string",
                            "description": "신용대출코드 / 길이 20 / 00.일반거래 01.유통융자 02.자기융자 03.유통대주 04.자기대주 10.매입자금대출"
                          },
                          "nmn_pr_tp_cd_nm": {
                            "type": "string",
                            "description": "호가유형코드명 / 길이 30"
                          },
                          "orr_cnd_dit_cd_nm": {
                            "type": "string",
                            "description": "주문조건구분코드명 / 길이 60"
                          },
                          "orr_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문수량 / 길이 19"
                          },
                          "orr_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "주문가격 / 길이 15.3"
                          },
                          "tot_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총체결수량 / 길이 23"
                          },
                          "cns_avg_uit_pr": {
                            "type": "number",
                            "format": "double",
                            "description": "체결평균단가 / 길이 15.3"
                          },
                          "cns_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "체결금액 / 길이 16"
                          },
                          "cns_cnt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "체결건수 / 길이 19"
                          },
                          "ny_cns_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "미체결수량 / 길이 23"
                          },
                          "cor_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "정정수량 / 길이 19"
                          },
                          "can_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "취소수량 / 길이 19"
                          },
                          "orr_tm": {
                            "type": "string",
                            "description": "주문시각 / 길이 9"
                          },
                          "orr_mdi": {
                            "type": "string",
                            "description": "주문매체 / 길이 20"
                          },
                          "bnd_byn_dt": {
                            "type": "string",
                            "description": "채권매수일자 / 길이 8"
                          },
                          "syn_ttn_dit_cd_nm": {
                            "type": "string",
                            "description": "종합과세구분코드명 / 길이 50"
                          },
                          "orr_rjt_rsn_cd_nm": {
                            "type": "string",
                            "description": "주문거부사유코드명 / 길이 4"
                          },
                          "pcs_emp_no": {
                            "type": "string",
                            "description": "처리사원번호 / 길이 6"
                          },
                          "rmt_mkt_cd": {
                            "type": "string",
                            "description": "요청시장코드 / 길이 3 / SOR/KRX/NXT"
                          },
                          "sor_mkt_sli_yn": {
                            "type": "string",
                            "description": "SOR시장분할여부 / 길이 1 / Y.분할 N.미분할"
                          },
                          "krx_lnt_opi_sec_co_cd": {
                            "type": "string",
                            "description": "거래소대량상대증권회사코드 / 길이 5"
                          },
                          "krx_lnt_opi_act_no": {
                            "type": "string",
                            "description": "거래소대량상대계좌번호 / 길이 12"
                          },
                          "krx_lnt_cnf_cpl_hur": {
                            "type": "string",
                            "description": "거래소대량협의완료시간 / 길이 9"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/krstock/inquiry/v1/balance": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "krstockInquiryBalance",
        "summary": "주식잔고조회",
        "description": "국내주식 잔고조회 API 입니다.\n\n원본 시트: API_국내_주식_조회_잔고",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "bnc_bse_cd": {
                        "type": "string",
                        "description": "잔고기준코드 / 길이 1 / 1.주식관련 총 평가(체결기준) 5.주식잔고평가(현재가기준)"
                      },
                      "ltg_aot_dit_cd": {
                        "type": "string",
                        "description": "상장폐지구분코드 / 길이 1 / 1.상장종목 9.전체"
                      },
                      "aet_bse": {
                        "type": "string",
                        "description": "자산기준 / 길이 1 / 1.순자산 2.총자산"
                      },
                      "qut_dit_cd": {
                        "type": "string",
                        "description": "시세구분코드 / 길이 3 / UNT/KRX/NXT 중 하나를 반드시 입력 (UNT=통합시세, KRX=KRX시세, NXT=NXT시세)"
                      }
                    },
                    "required": [
                      "act_no",
                      "bnc_bse_cd",
                      "ltg_aot_dit_cd",
                      "aet_bse",
                      "qut_dit_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dca": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예수금 / 길이 18"
                          },
                          "nxt_dd_dca": {
                            "type": "integer",
                            "format": "int64",
                            "description": "익일예수금 / 길이 15 / D+1 예수금"
                          },
                          "nxt2_dd_dca": {
                            "type": "integer",
                            "format": "int64",
                            "description": "익익일예수금 / 길이 18 / D+2 예수금"
                          },
                          "fc_dca": {
                            "type": "integer",
                            "format": "int64",
                            "description": "외화예수금 / 길이 18"
                          },
                          "fc_mgg_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "외화담보금액 / 길이 18"
                          },
                          "fc_orr_pbl_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "외화주문가능금액 / 길이 18"
                          },
                          "drn_pbl_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "출금가능금액 / 길이 18"
                          },
                          "fnn_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "융자금액 / 길이 18"
                          },
                          "mgg_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "담보비율 / 길이 11.8"
                          },
                          "rit_eal_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "권리평가금액 / 길이 18"
                          },
                          "orr_pbl_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능금액 / 길이 18"
                          },
                          "nas_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "순자산금액 / 길이 18"
                          },
                          "tot_aet_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총자산금액 / 길이 18"
                          },
                          "tot_byn_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총매수금액 / 길이 18"
                          },
                          "tot_eal_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총평가금액 / 길이 18"
                          },
                          "tot_eal_pls": {
                            "type": "integer",
                            "format": "int64",
                            "description": "총평가손익 / 길이 18"
                          },
                          "pft_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "수익율 / 길이 15.9"
                          },
                          "rba": {
                            "type": "integer",
                            "format": "int64",
                            "description": "미수금 / 길이 18"
                          },
                          "int_ny_pmt_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "이자미납부금액 / 길이 18"
                          },
                          "ny_rdp_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "미상환금액 / 길이 18"
                          },
                          "ect_lga": {
                            "type": "integer",
                            "format": "int64",
                            "description": "기타대여금 / 길이 18"
                          },
                          "lon_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "대출금액 / 길이 18"
                          },
                          "sba_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "대용금액 / 길이 18"
                          },
                          "orr_pbl_amt1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능금액1 / 길이 18 / 20%주문가능금액"
                          },
                          "orr_pbl_amt2": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능금액2 / 길이 18 / 30%주문가능금액"
                          },
                          "orr_pbl_amt3": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능금액3 / 길이 18 / 40%주문가능금액"
                          },
                          "orr_pbl_amt4": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능금액4 / 길이 18 / 100%주문가능금액"
                          },
                          "slo_mgg_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "대주담보금액 / 길이 18"
                          },
                          "csh_wtm": {
                            "type": "integer",
                            "format": "int64",
                            "description": "현금증거금 / 길이 18"
                          },
                          "sba_wtm": {
                            "type": "integer",
                            "format": "int64",
                            "description": "대용증거금 / 길이 18"
                          },
                          "sll_edn_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도증거금액 / 길이 18"
                          },
                          "cfd_pdt_tp_nm": {
                            "type": "string",
                            "description": "신용상품유형명 / 길이 20"
                          },
                          "act_atv_tp_dtl_cd": {
                            "type": "string",
                            "description": "계좌활동유형세부코드 / 길이 3 / 101: 활동 102: 휴면 401: 고객요청폐쇄"
                          },
                          "act_no": {
                            "type": "string",
                            "description": "계좌번호 / 길이 11"
                          },
                          "pdt_tp_nm": {
                            "type": "string",
                            "description": "상품유형명 / 길이 50"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 60"
                          },
                          "iem_cd": {
                            "type": "string",
                            "description": "종목코드 / 길이 12"
                          },
                          "tp_cd_nm": {
                            "type": "string",
                            "description": "유형코드명 / 길이 30"
                          },
                          "itg_bnc_qty": {
                            "type": "number",
                            "format": "double",
                            "description": "통합잔고수량 / 길이 21.6"
                          },
                          "ny_stl_qty": {
                            "type": "number",
                            "format": "double",
                            "description": "미결제수량 / 길이 21.6"
                          },
                          "rsdl_qty": {
                            "type": "number",
                            "format": "double",
                            "description": "잔량수량 / 길이 21.6"
                          },
                          "phs_pr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매입가격 / 길이 18"
                          },
                          "now_pr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "현재가격 / 길이 18"
                          },
                          "byn_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수금액 / 길이 18"
                          },
                          "eal_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "평가금액 / 길이 18"
                          },
                          "eal_pls_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "평가손익금액 / 길이 18"
                          },
                          "sll_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도금액 / 길이 18"
                          },
                          "sll_pls_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도손익금액 / 길이 18"
                          },
                          "syn_ttn_dit_cd": {
                            "type": "string",
                            "description": "종합과세구분코드 / 길이 1"
                          },
                          "syn_ttn_dit_cd_nm": {
                            "type": "string",
                            "description": "종합과세구분코드명 / 길이 20"
                          },
                          "crm_aet_cfc_cd": {
                            "type": "string",
                            "description": "CRM자산분류코드 / 길이 2"
                          },
                          "ctc_int_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "약정이자율 / 길이 11.8"
                          },
                          "lon_byn_dt": {
                            "type": "string",
                            "description": "대출매수일자 / 길이 8"
                          },
                          "xrn_dt": {
                            "type": "string",
                            "description": "만기일자 / 길이 8"
                          },
                          "wtm_rt": {
                            "type": "string",
                            "description": "증거금율 / 길이 10"
                          },
                          "lon_bnc_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "대출잔고금액 / 길이 18"
                          },
                          "iem_mlf_cd": {
                            "type": "string",
                            "description": "종목중분류코드 / 길이 5"
                          },
                          "itg_bnc_tp_cd": {
                            "type": "string",
                            "description": "통합잔고유형코드 / 길이 3"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/krstock/inquiry/v1/buyableQuantity": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "krstockInquiryBuyableQuantity",
        "summary": "매수가능수량조회",
        "description": "국내주식 매수가능수량 조회 API 입니다.\n\n원본 시트: API_국내_주식_조회_매수가능수량",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "ost_dit_cd": {
                        "type": "string",
                        "description": "구분코드 / 길이 1 / 1.현금 2.신용(융자대주) 3.매입자금대출"
                      },
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> NH투자증권인 경우, 005940"
                      },
                      "nmn_pr_tp_cd": {
                        "type": "string",
                        "description": "호가유형코드 / 길이 2 / 01.보통가 05.시장가 06.조건부지정가 09.자기주식 10.S-OPTION자기주식 11.금전신탁자기주식 12.최유리지정가 13.최우선지정가 16.스톱지정가 17.중간가 61.장전시간외 71.장후시간외 81.시간외단일가 91.장전시간외경쟁대량 92.장중경쟁대량"
                      },
                      "orr_pr": {
                        "type": "integer",
                        "format": "int64",
                        "description": "주문가격 / 길이 18 / 예시> 12,345원인 경우, 12345"
                      },
                      "cfd_lon_cd": {
                        "type": "string",
                        "description": "신용대출코드 / 길이 2 / 구분코드가 \"2\"인 경우 01.유통융자 02.자기융자 03.유통대주 04.자기대주"
                      },
                      "lon_dt": {
                        "type": "string",
                        "description": "대출일자 / 길이 8 / 구분코드가 \"2\", \"3\"인 경우"
                      }
                    },
                    "required": [
                      "ost_dit_cd",
                      "act_no",
                      "iem_cd",
                      "nmn_pr_tp_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sll_ctc_amt1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도약정금액1 / 길이 18 / 전일 매도 약정금액"
                          },
                          "byn_ctc_amt1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수약정금액1 / 길이 18 / 전일 매수 약정금액"
                          },
                          "sdr_xps1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "제비용1 / 길이 18 / 전일 제비용"
                          },
                          "dca": {
                            "type": "integer",
                            "format": "int64",
                            "description": "예수금 / 길이 18 / 당일 예수금"
                          },
                          "sll_ctc_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매도약정금액 / 길이 18 / 당일 매도 약정금액"
                          },
                          "ost_byn_ctc_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수약정금액 / 길이 18 / 당일 매수 약정금액"
                          },
                          "sdr_xps": {
                            "type": "integer",
                            "format": "int64",
                            "description": "제비용 / 길이 18 / 당일 제비용"
                          },
                          "nxt_dd_dca": {
                            "type": "integer",
                            "format": "int64",
                            "description": "익일예수금 / 길이 18 / D+1 예수금"
                          },
                          "nxt2_dd_dca": {
                            "type": "integer",
                            "format": "int64",
                            "description": "익익일예수금 / 길이 18 / D+2 예수금"
                          },
                          "byn_ny_cns_orr_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "매수미체결주문금액 / 길이 18 / D+2 매수미체결 주문금액"
                          },
                          "ost_fee": {
                            "type": "integer",
                            "format": "int64",
                            "description": "수수료 / 길이 18 / D+2 수수료"
                          },
                          "max_pbl_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "최대가능금액 / 길이 18 / 조회구분 1. 현금 선택시 출력 최대(미수) 가능금액"
                          },
                          "max_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "최대가능수량 / 길이 18 / 최대(미수) 가능수량"
                          },
                          "rvb_orn_max_pbl_fee": {
                            "type": "integer",
                            "format": "int64",
                            "description": "미수발생최대가능수수료 / 길이 18 / 최대(미수) 수수료"
                          },
                          "csh_orr_pbl_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "현금주문가능금액 / 길이 18 / 미수 미발생 현금 가능금액"
                          },
                          "csh_orr_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "현금주문가능수량 / 길이 18 / 미수 미발생 현금 가능수량"
                          },
                          "ost_fee1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "수수료1 / 길이 18 / 미수 미발생 현금 수수료"
                          },
                          "cfd_rvb_orr_pbl_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "신용미수주문가능금액 / 길이 18 / 조회구분 2. 신용(융자대주) 선택시 출력 최대주문가능 매수주문 주문가능금액"
                          },
                          "cfd_rvb_orr_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "신용미수주문가능수량 / 길이 18 / 최대주문가능 매수주문 주문가능수량"
                          },
                          "cfd_max_pbl_fee": {
                            "type": "integer",
                            "format": "int64",
                            "description": "신용최대가능수수료 / 길이 18 / 최대주문가능 매수주문 수수료"
                          },
                          "cfd_orr_pbl_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "신용주문가능금액 / 길이 18 / 미수미발생 매수주문 주문가능금액"
                          },
                          "cfd_orr_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "신용주문가능수량 / 길이 18 / 미수미발생 매수주문 주문가능수량"
                          },
                          "ost_fee2": {
                            "type": "integer",
                            "format": "int64",
                            "description": "수수료2 / 길이 18 / 미수미발생 매수주문 수수료"
                          },
                          "lmt_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "한도금액 / 길이 18 / 미수 미발생 현금 개인한도금액"
                          },
                          "use_lmt_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "사용한도금액 / 길이 18 / 미수 미발생 현금 시용한도"
                          },
                          "rmn_lmt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "잔여한도 / 길이 18 / 미수 미발생 현금 잔여한도"
                          },
                          "use_pbl_sba_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "사용가능대용금액 / 길이 18 / 미수 미발생 현금 사용가능대용(종가)"
                          },
                          "use_pbl_csh": {
                            "type": "integer",
                            "format": "int64",
                            "description": "사용가능현금 / 길이 18 / 미수 미발생 현금 사용가능현금"
                          },
                          "orr_pbl_amt1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능금액1 / 길이 18 / 미수 미발생 현금 주문가능(한도적용전)"
                          },
                          "lon_lmt_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "대출한도금액 / 길이 18 / 조회구분 3.매입자금대출 선택시 출력 대출한도"
                          },
                          "lmt_use_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "한도사용금액 / 길이 18 / 한도사용금액"
                          },
                          "rmn_lmt1": {
                            "type": "integer",
                            "format": "int64",
                            "description": "잔여한도1 / 길이 18 / 잔여한도"
                          },
                          "orr_pbl_sba_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능대용금액 / 길이 18 / 주문가능대용"
                          },
                          "orr_pbl_amt2": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능금액2 / 길이 18 / 주문가능금액(한도적용전)"
                          },
                          "orr_pbl_amt3": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능금액3 / 길이 18 / 주문가능금액(한도적용)"
                          },
                          "orr_pbl_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가능수량 / 길이 18 / 주문가능수량"
                          },
                          "ost_fee3": {
                            "type": "integer",
                            "format": "int64",
                            "description": "수수료3 / 길이 18 / 수수료"
                          },
                          "int_rt": {
                            "type": "number",
                            "format": "double",
                            "description": "이자율 / 길이 11.8 / 이자율"
                          },
                          "orr_pr": {
                            "type": "integer",
                            "format": "int64",
                            "description": "주문가격 / 길이 18"
                          },
                          "rp_eal_amt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "RP평가금액 / 길이 18 / CMA 평가금"
                          },
                          "ny_stl_qty": {
                            "type": "number",
                            "format": "double",
                            "description": "미결제수량 / 길이 21.6"
                          }
                        }
                      }
                    },
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CtsHeader"
          }
        ]
      }
    },
    "/krstock/inquiry/v1/sellableQuantity": {
      "post": {
        "tags": [
          "조회 (Inquiry)"
        ],
        "operationId": "krstockInquirySellableQuantity",
        "summary": "매도가능수량조회",
        "description": "국내주식 매도가능수량 조회 API 입니다.\n\n원본 시트: API_국내_주식_조회_매도가능수량",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Input_0": {
                    "type": "object",
                    "properties": {
                      "act_no": {
                        "type": "string",
                        "description": "계좌번호 / 길이 11"
                      },
                      "iem_cd": {
                        "type": "string",
                        "description": "종목코드 / 길이 12 / 예시> NH투자증권인 경우, 005940"
                      },
                      "lon_dt": {
                        "type": "string",
                        "description": "대출일자 / 길이 8 / 신용대출코드가 '01.유통융자'일때 YYYYMMDD"
                      },
                      "cfd_lon_cd": {
                        "type": "string",
                        "description": "신용대출코드 / 길이 2 / 00.일반거래 01.유통융자 02.자기융자 03.유통대주 04.자기대주"
                      }
                    },
                    "required": [
                      "act_no",
                      "cfd_lon_cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Output_0": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cus_fnm": {
                            "type": "string",
                            "description": "고객성명 / 길이 40"
                          },
                          "ost_dit_cd": {
                            "type": "string",
                            "description": "구분코드 / 길이 1 / 1.현금 또는 신용 2.대출"
                          },
                          "dit_nm": {
                            "type": "string",
                            "description": "구분명 / 길이 20"
                          },
                          "iem_cd": {
                            "type": "string",
                            "description": "종목코드 / 길이 12"
                          },
                          "iem_nm": {
                            "type": "string",
                            "description": "종목명 / 길이 60"
                          },
                          "lon_dt": {
                            "type": "string",
                            "description": "대출일자 / 길이 8"
                          },
                          "cfd_lon_cd": {
                            "type": "string",
                            "description": "신용대출코드 / 길이 2 / 00.현금 01.유통융자 02.자기융자 03.유통대주 04.자기대주 10.매입자금대출 11.매도담보대출 12.주식담보대출 13.채권담보대출 14.ELS/DLS담보대출 15.수익증권대출 16.수익환매대출 17.청약자금대출 18.ELS/DLS환매담보대출 19.해외주식담보대출 20.해외주식매도담보대출 99.종합담보대출 _.해당사항없음"
                          },
                          "cfd_lon_cd_nm": {
                            "type": "string",
                            "description": "신용대출코드명 / 길이 40"
                          },
                          "ttn_tp_cd": {
                            "type": "string",
                            "description": "과세유형코드 / 길이 2 / 01.일반과세 02.비과세 03.세금우대 04.소액부징수 _.해당사항없음"
                          },
                          "ttn_tp_cd_nm": {
                            "type": "string",
                            "description": "과세유형코드명 / 길이 40"
                          },
                          "bnc_qty": {
                            "type": "integer",
                            "format": "int64",
                            "description": "잔고수량 / 길이 18"
                          },
                          "sll_ny_stl_qty": {
                            "type": "number",
                            "format": "double",
[...]
